<?xml version="1.0" encoding="utf-8"?>
<DataType Key="434b376b-732d-45c1-a3bd-e9be42817d3e" Alias="Activity Type" Level="1">
  <Info>
    <Name>Activity Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Event"
    },
    {
      "id": 2,
      "value": "Course"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>