<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a23a3d7-c069-4b15-9020-57fdfc4a5bad" Alias="Align Ver" Level="1">
  <Info>
    <Name>Align Ver</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "top"
    },
    {
      "id": 5,
      "value": "center"
    },
    {
      "id": 7,
      "value": "bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>