<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca84d7a5-4aaf-4fb2-b638-f896aedb6dad" Alias="All Alignments" Level="1">
  <Info>
    <Name>All Alignments</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left Middle"
    },
    {
      "id": 2,
      "value": "Left Top"
    },
    {
      "id": 3,
      "value": "Left Bottom"
    },
    {
      "id": 4,
      "value": "Middle Top"
    },
    {
      "id": 5,
      "value": "Center"
    },
    {
      "id": 6,
      "value": "Middle Bottom"
    },
    {
      "id": 7,
      "value": "Right Middle"
    },
    {
      "id": 8,
      "value": "Right Top"
    },
    {
      "id": 9,
      "value": "Right Bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>