<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60f93021-1ea2-4398-9288-f5fb08131716" Alias="Available Figures" Level="1">
  <Info>
    <Name>Available Figures</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "golden_5petal_flower_left_shape1"
    },
    {
      "id": 2,
      "value": "golden_5petal_flower_right_shape1"
    },
    {
      "id": 3,
      "value": "golden_treebranch_left_shape1"
    },
    {
      "id": 4,
      "value": "golden_treebranch_right_shape1"
    },
    {
      "id": 5,
      "value": "lotus-meditator-sketch-left-negative"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>