<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0420131f-f607-450e-99ca-f34c12d9fcbd" Alias="Bgr Colors" Level="1">
  <Info>
    <Name>Bgr Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"202124\",\"label\":\"bg_dark\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f7f7f7\",\"label\":\"bg_gray\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"8968ad\",\"label\":\"bg_default\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"fce0cb\",\"label\":\"bg_light_gold\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"faeac8\",\"label\":\"bg_light_yellow\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"d7f3f7\",\"label\":\"bg_light_blue\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"3e3d77\",\"label\":\"bg_dark_blue\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"221f41\",\"label\":\"bg_dark_blue2\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffdbdc\",\"label\":\"bg_light_pink\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"f38888\",\"label\":\"bg_dark_pink\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"ff7d09\",\"label\":\"bg_orange\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"e92701\",\"label\":\"bg_red\"}"
    },
    {
      "id": 13,
      "value": "{\"value\":\"612d91\",\"label\":\"bs-dark-purple\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>