<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b7b07c0-54b7-4e08-9658-c468d71c7b68" Alias="ColorShades - Slider" Level="1">
  <Info>
    <Name>ColorShades - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 500.0,
  "InitialValue2": 500.0,
  "MaximumValue": 900.0,
  "MinimumValue": 100.0,
  "StepIncrements": 100.0
}]]></Config>
</DataType>