<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95ecda7b-79be-4225-9a94-4dfb7c05cb04" Alias="ColorOpacity - Slider" Level="1">
  <Info>
    <Name>ColorOpacity - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 1.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.125
}]]></Config>
</DataType>