<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b82ed722-651b-432c-9810-f13bc40a0424" Alias="Default Block Grid" Level="1">
  <Info>
    <Name>Default Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "name": "Layout Blocks"
    },
    {
      "key": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "name": "Content Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "primary g-col-12 p-3 rounded-3",
          "columnSpan": 6,
          "createLabel": null,
          "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f8a5ecad-df5c-4e71-b97b-4b5bbe5b5c89",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{heading}} (Richtext Media)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "4d518311-9b43-4241-896c-757474dc4593",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "202793eb-74b7-416e-a562-2bb6b2cc1afb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ba3ab066-645d-4703-ac03-f22578da0863",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a7ae0b8b-f558-47ff-a55f-b9eaf7e9d4dd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{heading}} (List Text Icon)",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2020f6d4-dfdb-4b13-bcdc-b8a8ff7c5341",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{$contentTypeName}} ({{formPicker}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "col-lg-5 col-md-6 py-4",
          "columnSpan": 6,
          "createLabel": null,
          "key": "856a82ef-edab-472b-ad63-bd86518b5adf",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "col-lg-7 col-md-6 py-4",
          "columnSpan": 6,
          "createLabel": null,
          "key": "e45b8524-2bca-44f4-99aa-0f266c7adeab",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2bd6520c-1f33-464e-b940-3916fc83b9da",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c4b70744-4ad1-41b3-a8a2-4f4c8d139bdf",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "13eb593d-fdf1-4089-88ed-931a37375e92",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{heading}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6fa1eb1e-d9e6-4809-8eb7-8664719413a9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b63d411e-ad0b-4fb2-8967-f238b7fa0e65",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Activities-{{heading}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": "Add a Layout Block",
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>