<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12d9a91c-1b32-427a-a1a0-c16600bf8221" Alias="Figure List" Level="1">
  <Info>
    <Name>Figure List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{figure}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>