<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b84783db-b154-4c7c-a859-1583ec7666de" Alias="HeroBanner Picker" Level="1">
  <Info>
    <Name>HeroBanner Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "heroBannerBlock",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/4511b1c865b44d9c8f0bdeadffec846c",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>