<?xml version="1.0" encoding="utf-8"?>
<DataType Key="baa147c8-89cd-43d0-b14d-56539f1b74f7" Alias="Icon Images" Level="1">
  <Info>
    <Name>Icon Images</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "affection.svg"
    },
    {
      "id": 2,
      "value": "eye-palm.svg"
    },
    {
      "id": 3,
      "value": "flower.svg"
    },
    {
      "id": 4,
      "value": "holistic-harmony.svg"
    },
    {
      "id": 5,
      "value": "lotus-water.svg"
    },
    {
      "id": 6,
      "value": "lotus-woman.svg"
    },
    {
      "id": 7,
      "value": "love-around.svg"
    },
    {
      "id": 8,
      "value": "love-share.svg"
    },
    {
      "id": 9,
      "value": "meditation-mind.svg"
    },
    {
      "id": 10,
      "value": "plant-hand.svg"
    },
    {
      "id": 11,
      "value": "reforestation.svg"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>