<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1a5da94-4216-46f9-99e9-8b847096a964" Alias="IconBox Styles" Level="1">
  <Info>
    <Name>IconBox Styles</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "IconBox_Center"
    },
    {
      "id": 5,
      "value": "IconBox_Center_Round"
    },
    {
      "id": 6,
      "value": "IconBox_Left"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>