<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19616c69-19b1-46ae-8630-4786e638a8ec" Alias="Instructor Picker" Level="1">
  <Info>
    <Name>Instructor Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/e4433d267cfe40ef90070febac171150"
}]]></Config>
</DataType>