<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1a5da94-4216-46f9-99e9-8b847096a964" Alias="Item_Icon_Position" Level="1">
  <Info>
    <Name>Item_Icon_Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "top"
    },
    {
      "id": 5,
      "value": "left"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>