<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c39d81d9-9aff-48ba-be40-6b962a157230" Alias="Middle Hoz Alignments" Level="1">
  <Info>
    <Name>Middle Hoz Alignments</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 5,
      "value": "Center"
    },
    {
      "id": 7,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>