<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9e58ccf-93d7-421c-b500-5467615b3ad4" Alias="Mover Effects" Level="1">
  <Info>
    <Name>Mover Effects</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "mover-x"
    },
    {
      "id": 5,
      "value": "mover-y-x15"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>