<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8789edd-df8c-432b-ac97-bd954f087165" Alias="Multi Activity Content Picker" Level="1">
  <Info>
    <Name>Multi Activity Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "activityPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/65195fcdba8749399e7daabb8d3d6e76",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>