<?xml version="1.0" encoding="utf-8"?>
<DataType Key="751995c6-4739-4f11-a922-21a4aeeaf15b" Alias="Objects Scope" Level="1">
  <Info>
    <Name>Objects Scope</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Community"
    },
    {
      "id": 2,
      "value": "Business"
    },
    {
      "id": 3,
      "value": "Family"
    },
    {
      "id": 4,
      "value": "Individual"
    },
    {
      "id": 5,
      "value": "SmallGroup"
    },
    {
      "id": 6,
      "value": "Group"
    }
  ]
}]]></Config>
</DataType>