<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bba63174-05c2-4bae-8e6f-98c5bee3a434" Alias="One Item Picker" Level="1">
  <Info>
    <Name>One Item Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>