<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb18a87a-109a-490a-b131-32127a5b04a4" Alias="One URL Picker" Level="1">
  <Info>
    <Name>One URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>