<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74308c22-c1f6-49bd-9b23-2606036e0053" Alias="Richtext Heading editor" Level="1">
  <Info>
    <Name>Richtext Heading editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "styles",
      "bold",
      "italic",
      "underline",
      "hr",
      "subscript",
      "superscript"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": "umb://media/f16d495bc8ab49fbb1275bdf1b1c5598",
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>