<?xml version="1.0" encoding="utf-8"?>
<DataType Key="746b8347-3cd7-4b41-b4d2-7f85595068f3" Alias="Simple Richtext editor" Level="1">
  <Info>
    <Name>Simple Richtext editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "hr",
      "subscript",
      "superscript"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>