<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8b5268f-6899-411d-9549-fd08e698b088" Alias="String List" Level="2">
  <Info>
    <Name>String List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Original</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>