<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efe8da3b-84db-4834-a5f8-ef575f8eaeb2" Alias="Text With Icon List Block - Display Type" Level="1">
  <Info>
    <Name>Text With Icon List Block - Display Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "row"
    },
    {
      "id": 2,
      "value": "circle"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>