<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21380398-2d6f-4ef4-8e5d-b468559fdc0b" Alias="Time HourMinute" Level="1">
  <Info>
    <Name>Time HourMinute</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "HH:mm",
  "OffsetTime": false
}]]></Config>
</DataType>