@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using YeahWeb.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>

@{
    Layout = "_Layout_Mainh.cshtml";
    TempData["blocksWithGroupNames"] = Model.GetBlocksWithGroupNames("contentLayout");
    var heroBanners = Model.Value<IEnumerable<IPublishedContent>>("heroBanners") ?? Enumerable.Empty<IPublishedContent>();
}

<div class="section-hero">
    @if (heroBanners.Count() > 1)
    {
        await Html.RenderPartialAsync("Components/itemsSlider", heroBanners);
    }
    else 
    {
        await Html.RenderPartialAsync("Components/heroBannerBlockItem", heroBanners.FirstOrDefault()); 
    }
</div>
@* <!-- BLOCK GRID --> *@
@await Html.GetBlockGridHtmlAsync(Model, "contentLayout", "defaulth")
@* <!-- END BLOCK GRID --> *@