<?xml version="1.0" encoding="utf-8"?>
<Content Key="708b07ab-70a0-4e08-b984-567d71104d72" Alias="404" Level="3">
  <Info>
    <Parent Key="4edbc70f-1731-47a3-8e3b-1be7a762639d">Statuscodes</Parent>
    <Path>/Home/Statuscodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2025-01-22T09:58:17</CreateDate>
    <NodeName Default="404" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9fc00ff-2689-4355-8a1d-188f75fc8c7d">PageNotFound</Template>
  </Info>
  <Properties />
</Content>