<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4" Alias="About BEHF" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/AboutBEHF</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-25T14:51:56</CreateDate>
    <NodeName Default="About BEHF">
      <Name Culture="en-us">About BEHF</Name>
      <Name Culture="vi">Về BEHF</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="38f756ec-4d37-439b-bf3c-76d9cf75655e">GeneralPage</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e7a235bd85894e06aaf2cf3a449c8cb2",
        "settingsUdi": "umb://element/613db826e5ce4ce7bc8f0231a64675cb",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/fbf116f6a8a2409394a8545d96e3ea9a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/e7a235bd85894e06aaf2cf3a449c8cb2"
    },
    {
      "actionUrl": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "A pioneering social enterprise",
      "iconImage": [],
      "image": [
        {
          "key": "315ad391-2584-4cd8-bfc1-4076bdcf646c",
          "mediaKey": "51583059-cff9-4495-909d-a065d3782823"
        }
      ],
      "mediaOnRight": "0",
      "paragraph": {
        "markup": "<p>BEHF (Breath Energy Health Foundation) is a pioneering social enterprise dedicated to applying meditation and mindfulness as essential skills and capabilities to enhance workplace performance and foster sustainable development in organizations. We provide practical solutions to help businesses build cohesive teams, foster insightful leadership, and create a positive, effective work environment.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "1",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/fbf116f6a8a2409394a8545d96e3ea9a",
      "youtubeVideo": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "",
      "layoutBackgroundColorShade": "",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/613db826e5ce4ce7bc8f0231a64675cb"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[Cultivating a Culture of Mindfulness and Enhancing Organizational Performance]]></Value>
      <Value Culture="vi"><![CDATA[Phát Triển Văn Hóa Chánh Niệm và Nâng Cao Hiệu Suất Doanh Nghiệp]]></Value>
    </title>
  </Properties>
</Content>