<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4" Alias="About BEHF" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/AboutBEHF</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-25T14:51:56</CreateDate>
    <NodeName Default="About BEHF">
      <Name Culture="en-us">About BEHF</Name>
      <Name Culture="vi">Về BEHF</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e7a235bd85894e06aaf2cf3a449c8cb2",
        "settingsUdi": "umb://element/613db826e5ce4ce7bc8f0231a64675cb",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/fbf116f6a8a2409394a8545d96e3ea9a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0f485d3551624281bc8b368e3295af06",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/e7a235bd85894e06aaf2cf3a449c8cb2"
    },
    {
      "actionUrl": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "A pioneering social enterprise",
      "iconImage": [],
      "image": [
        {
          "key": "315ad391-2584-4cd8-bfc1-4076bdcf646c",
          "mediaKey": "51583059-cff9-4495-909d-a065d3782823"
        }
      ],
      "mediaOnRight": "0",
      "paragraph": "BEHF (Breath Energy Health Foundation) is a pioneering social enterprise dedicated to applying meditation and mindfulness as essential skills and capabilities to enhance workplace performance and foster sustainable development in organizations. We provide practical solutions to help businesses build cohesive teams, foster insightful leadership, and create a positive, effective work environment.",
      "shadowRichtext": "1",
      "showIcon": "0",
      "subHeading": "Breath Energy Health Foundation",
      "udi": "umb://element/fbf116f6a8a2409394a8545d96e3ea9a",
      "youtubeVideo": ""
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "heading": "Why Choose Us",
      "iconBoxStyle": [
        "IconBox_Center_Round"
      ],
      "image": [
        {
          "key": "108fdf98-af47-4c79-9ba8-d65ce2782e07",
          "mediaKey": "593b14d6-6879-4b7c-960e-076826a21fcf"
        }
      ],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e52be8c5576443029711dff500115b83"
            },
            {
              "contentUdi": "umb://element/dbec830ff2c748bb8a3247a8febb7a81"
            },
            {
              "contentUdi": "umb://element/27bf2ac427794da9b40338f3098809ed"
            },
            {
              "contentUdi": "umb://element/f76b039ede8f4ef59176eaab0eefed26"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Benevolence",
            "iconImage": [
              "love-around.svg"
            ],
            "paragraph": "We are driven by a genuine desire to cultivate kindness and compassion.",
            "udi": "umb://element/e52be8c5576443029711dff500115b83"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Evolution",
            "iconImage": [
              "reforestation.svg"
            ],
            "paragraph": "We believe in the power of mindful practice to foster personal growth, deepen self-awareness, and unlock your inner potential.",
            "udi": "umb://element/dbec830ff2c748bb8a3247a8febb7a81"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Humbleness",
            "iconImage": [
              "eye-palm.svg"
            ],
            "paragraph": "We offer guidance without judgment, fostering an environment of acceptance and self-compassion.",
            "udi": "umb://element/27bf2ac427794da9b40338f3098809ed"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Friendship",
            "iconImage": [
              "affection.svg"
            ],
            "paragraph": "We believe in fostering a supportive and welcoming space where individuals can connect, learn from each other, and feel a sense of belonging.",
            "udi": "umb://element/f76b039ede8f4ef59176eaab0eefed26"
          }
        ],
        "settingsData": []
      },
      "paragraph": "",
      "subHeading": "Our Operating Principles",
      "udi": "umb://element/0f485d3551624281bc8b368e3295af06"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "",
      "layoutBackgroundColorShade": "",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/613db826e5ce4ce7bc8f0231a64675cb"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "7f7a5b7e-aa43-4831-a187-12aeef761d48",
    "mediaKey": "b61fdd31-1d81-4a89-95a2-5e8a445437c1"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[Cultivating a Culture of Mindfulness and Enhancing Organizational Performance]]></Value>
      <Value Culture="vi"><![CDATA[Phát Triển Văn Hóa Chánh Niệm và Nâng Cao Hiệu Suất Doanh Nghiệp]]></Value>
    </title>
  </Properties>
</Content>