<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffbea58a-a8fe-4864-a7b4-a99e801fa23d" Alias="Achieving Balance" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/AchievingBalance</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T17:17:58</CreateDate>
    <NodeName Default="Achieving Balance">
      <Name Culture="en">Achieving Balance</Name>
      <Name Culture="vi">Quản Lý Căng Thẳng</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Achieving Balance]]></Value>
      <Value Culture="vi"><![CDATA[Quản Lý Căng Thẳng]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "0723aef5-b64b-40cc-99b6-49482ec118db",
    "mediaKey": "cc01f01f-435b-49d6-886c-1010f0c833db"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Simple meditation techniques that immediately reduce stress and maintain mental balance.
Improve resilience, focus, and work performance. 
Help employees maintain positive energy, face pressure, and overcome challenges.]]></Value>
      <Value Culture="vi"><![CDATA[Các phương pháp thiền đơn giản giúp giảm căng thẳng tức thì và duy trì sự cân bằng tinh thần.
Tăng khả năng phục hồi tinh thần, cải thiện sự tập trung và hiệu suất làm việc.
Giúp đội ngũ nhân viên duy trì năng lượng tích cực, đối mặt với áp lực và vượt qua thử thách.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Stress Management]]></Value>
      <Value Culture="vi"><![CDATA[Đạt Được Sự Cân Bằng]]></Value>
    </subHeading>
  </Properties>
</Content>