<?xml version="1.0" encoding="utf-8"?>
<Content Key="570bdea3-b988-47ce-9944-7ead3ef6eaeb" Alias="Class Series" Level="4">
  <Info>
    <Parent Key="6179fe13-2e59-4c9e-ac40-62820e65c85e">For Businesses</Parent>
    <Path>/Home/Services/ForBusinesses/ClassSeries</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:24:24</CreateDate>
    <NodeName Default="Class Series">
      <Name Culture="en-us">Class Series</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[]]></Value>
    </contentLayout>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>