<?xml version="1.0" encoding="utf-8"?>
<Content Key="80dd9052-df7c-4258-9958-5ccc0c5e7015" Alias="Community" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/Community</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2025-01-15T01:29:36</CreateDate>
    <NodeName Default="Community" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>