<?xml version="1.0" encoding="utf-8"?>
<Content Key="316cbc06-2778-4771-bdc9-6c757fde8c40" Alias="Connection and Energy Renewal" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/ConnectionAndEnergyRenewal</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T17:04:13</CreateDate>
    <NodeName Default="Connection and Energy Renewal">
      <Name Culture="en">Connection and Energy Renewal</Name>
      <Name Culture="vi">Kết Nối và Tái Tạo Năng Lượng</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Connection and Energy Renewal]]></Value>
      <Value Culture="vi"><![CDATA[Kết Nối và Tái Tạo Năng Lượng]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "b53362e0-31c0-4ce8-818b-91679f1a31bc",
    "mediaKey": "056e1be0-8f71-4485-b090-ca295454fee4"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Retreat journey designed specifically for leaders and senior teams.
Practice silent meditation and connect with nature to renew energy.
Release stress, spark creativity, and foster innovative thinking.
Strengthen team cohesion, build trust, and promote collaboration.]]></Value>
      <Value Culture="vi"><![CDATA[Hành trình retreat dành riêng cho lãnh đạo và đội nhóm cao cấp.
Thực hành thiền tĩnh lặng và kết nối với thiên nhiên để tái tạo năng lượng.
Giải phóng áp lực, khơi nguồn sáng tạo và phát triển tư duy đổi mới.
Tăng cường sự gắn kết trong đội ngũ lãnh đạo, xây dựng lòng tin và sự hợp tác.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Deep Retreat Program]]></Value>
      <Value Culture="vi"><![CDATA[Chương Trình Retreat Chuyên Sâu]]></Value>
    </subHeading>
  </Properties>
</Content>