<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5f1d313-db4a-49ee-b392-d79844ed9cd7" Alias="Consulting and Implementation Support" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/ConsultingAndImplementationSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-22T17:35:21</CreateDate>
    <NodeName Default="Consulting and Implementation Support">
      <Name Culture="en">Consulting and Implementation Support</Name>
      <Name Culture="vi">Tư Vấn và Hỗ Trợ Triển Khai</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Meditation & Mindfulness Culture Consulting and Implementation Supporting]]></Value>
      <Value Culture="vi"><![CDATA[Tư Vấn và Hỗ Trợ Triển Khai Văn Hóa Thiền Định & Chánh Niệm]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "1afe5897-5d26-4839-9a99-5f1096248ada",
    "mediaKey": "b543e284-de7c-4cdc-b9d6-e91bdf34fc03"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[{
  "markup": "<ul>\n<li><strong>Strategy Development:</strong> Integrate meditation and mindfulness into business processes and organizational culture.</li>\n<li><strong>Implementation Support:</strong> Train teams, organize practice sessions, and provide in-depth resources.</li>\n<li><strong>Sustainability and Growth:</strong> Ensure meditation and mindfulness practices become a core part of the company culture, yielding long-term benefits.</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="vi"><![CDATA[{
  "markup": "<ul>\n<li><strong>Xây dựng chiến lược:</strong> Tích hợp thiền và chánh niệm vào quy trình làm việc và văn hóa tổ chức.</li>\n<li><strong>Hỗ trợ triển khai:</strong> Đào tạo đội ngũ, tổ chức các buổi thực hành, và cung cấp tài liệu chuyên sâu.</li>\n<li><strong>Duy trì và phát triển:</strong> Đảm bảo các thực hành thiền và chánh niệm trở thành một phần cốt lõi trong văn hóa doanh nghiệp, mang lại hiệu quả lâu dài.</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </subHeading>
  </Properties>
</Content>