<?xml version="1.0" encoding="utf-8"?>
<Content Key="44773e80-aafb-4c41-8235-a156cb67a68e" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:20:17</CreateDate>
    <NodeName Default="Contact Us">
      <Name Culture="en-us">Contact Us</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6c2fd72a1ed5444985684f05b3467d51",
        "settingsUdi": "umb://element/5881b244bc9f410a96d5011ef66ebc29",
        "areas": [
          {
            "key": "856a82ef-edab-472b-ad63-bd86518b5adf",
            "items": [
              {
                "contentUdi": "umb://element/829b287f7a5b4b48a2023141a414da3e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "e45b8524-2bca-44f4-99aa-0f266c7adeab",
            "items": [
              {
                "contentUdi": "umb://element/f715c861925745a3bd563145e0e573db",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2bd6520c-1f33-464e-b940-3916fc83b9da",
      "udi": "umb://element/6c2fd72a1ed5444985684f05b3467d51"
    },
    {
      "contentTypeKey": "2020f6d4-dfdb-4b13-bcdc-b8a8ff7c5341",
      "formPicker": "9e42637d-0cea-40e4-b0c9-c5f47b73300a",
      "udi": "umb://element/f715c861925745a3bd563145e0e573db"
    },
    {
      "contentTypeKey": "13eb593d-fdf1-4089-88ed-931a37375e92",
      "heading": "Contact Information",
      "paragraph": {
        "markup": "<p>BEHF not only offers training programs but also provides a journey of sustainable transformation for your organization.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "Don't hesitate to reach us",
      "udi": "umb://element/829b287f7a5b4b48a2023141a414da3e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "layoutBackgroundColor": {
        "value": "ffc107",
        "label": "--bs-yellow-rgb",
        "sortOrder": 12,
        "id": "13"
      },
      "layoutBackgroundColorOpacity": "0.375",
      "layoutBackgroundColorShade": "200",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/5881b244bc9f410a96d5011ef66ebc29"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "939df978-012b-4f3d-ade0-59ed78f2fae5",
    "mediaKey": "48d2cf0f-b6fe-42d2-b799-7fed0ccc0ad8"
  }
]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
    </title>
  </Properties>
</Content>