<?xml version="1.0" encoding="utf-8"?>
<Content Key="39362042-29b4-4228-9275-bceec9ec1b63" Alias="Creating a Strategic Vision" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/CreatingAStrategicVision</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T16:46:18</CreateDate>
    <NodeName Default="Creating a Strategic Vision">
      <Name Culture="en">Creating a Strategic Vision</Name>
      <Name Culture="vi">Kiến Tạo Tầm Nhìn Chiến Lược</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Creating a Strategic Vision]]></Value>
      <Value Culture="vi"><![CDATA[Kiến Tạo Tầm Nhìn Chiến Lược]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "69922c94-c9c0-421e-8bc0-4f8b5bbea4f4",
    "mediaKey": "cb235834-6de0-48dd-893d-59a1f799f44a"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Optimize leadership capacity and strategic thinking.
Stress management and emotional regulation in high-pressure environments.
Decision-making methods based on calmness and insight.
Explore and unlock leadership potential to guide the organization toward sustainable growth.]]></Value>
      <Value Culture="vi"><![CDATA[Tối ưu hóa năng lực lãnh đạo và tư duy chiến lược.
Kỹ năng quản lý căng thẳng và điều hòa cảm xúc trong môi trường tạo áp lực cao.
Phương pháp ra quyết định dựa trên sự bình tĩnh và sáng suốt.
Khám phá và khai phá khả năng lãnh đạo để dẫn dắt tổ chức phát triển bền vững]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Leadership and Business Owner Training]]></Value>
      <Value Culture="vi"><![CDATA[Đào Tạo Lãnh Đạo và Chủ Doanh Nghiệp]]></Value>
    </subHeading>
  </Properties>
</Content>