<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb6f1e55-d131-4593-9573-5b0a2cf22d35" Alias="Customized Organizational Program" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/CustomizedOrganizationalProgram</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T17:45:13</CreateDate>
    <NodeName Default="Customized Organizational Program">
      <Name Culture="en">Customized Organizational Program</Name>
      <Name Culture="vi">Chương Trình Thiết Kế Theo Đặc Thù Tổ Chức</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Customized Organizational Program]]></Value>
      <Value Culture="vi"><![CDATA[Chương Trình Thiết Kế Theo Đặc Thù Tổ Chức]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "2a967b9c-5719-4050-af0f-cbf6ece3e5b7",
    "mediaKey": "43b849cc-d3a7-492d-ac65-547c46a7b99d"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Create meditation and mindfulness solutions tailored to the culture, goals, and challenges of each organization.
Build a strategy for developing a mindful culture that aligns with each business or organization.]]></Value>
      <Value Culture="vi"><![CDATA[Tạo ra các giải pháp thiền và chánh niệm phù hợp với văn hóa, mục tiêu và thách thức của từng tổ chức.
Xây dựng chiến lược phát triển văn hóa chánh niệm phù hợp với từng doanh nghiệp hoặc tổ chức.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </subHeading>
  </Properties>
</Content>