<?xml version="1.0" encoding="utf-8"?>
<Content Key="82b5463b-3fdf-4483-b15d-eb6b29a9e5a3" Alias="Effective Collaboration and Consensus" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/EffectiveCollaborationAndConsensus</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T16:52:17</CreateDate>
    <NodeName Default="Effective Collaboration and Consensus">
      <Name Culture="en">Effective Collaboration and Consensus</Name>
      <Name Culture="vi">Hợp Tác Hiệu Quả và Đồng Thuận</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Effective Collaboration and Consensus]]></Value>
      <Value Culture="vi"><![CDATA[Hợp Tác Hiệu Quả và Đồng Thuận]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "3d2a8c4d-957d-464e-9695-a956234ead24",
    "mediaKey": "e0a15e7f-d320-4d66-8902-1c94fe3fc04e"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Build a strong leadership foundation, inspiring top-down leadership.
Strengthen consensus and teamwork at the management level.
Promote innovation in leadership thinking and organizational culture.
Enhance communication skills and conflict management.]]></Value>
      <Value Culture="vi"><![CDATA[Xây dựng nền tảng lãnh đạo mạnh mẽ, truyền cảm hứng từ trên xuống.
Củng cố sự đồng thuận và khả năng làm việc nhóm ở cấp quản lý.
Thúc đẩy sự đổi mới trong tư duy lãnh đạo và văn hóa tổ chức.
Tăng cường khả năng giao tiếp và quản lý mâu thuẫn một cách hiệu quả.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Leadership Team Training]]></Value>
      <Value Culture="vi"><![CDATA[Đào Tạo Ban Lãnh Đạo]]></Value>
    </subHeading>
  </Properties>
</Content>