<?xml version="1.0" encoding="utf-8"?>
<Content Key="6179fe13-2e59-4c9e-ac40-62820e65c85e" Alias="For Businesses" Level="3">
  <Info>
    <Parent Key="12e65d39-f030-4a72-b783-15c54ab807fe">Training Program</Parent>
    <Path>/Home/TrainingProgram/ForBusinesses</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2024-12-26T00:21:05</CreateDate>
    <NodeName Default="For Businesses" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>