<?xml version="1.0" encoding="utf-8"?>
<Content Key="90bc139a-93d3-4cd7-87fc-bf527cdf5a1d" Alias="Group Coaching" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/GroupCoaching</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T17:42:43</CreateDate>
    <NodeName Default="Group Coaching">
      <Name Culture="en">Group Coaching</Name>
      <Name Culture="vi">Huấn luyện đào tạo nhóm</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[Group Coaching]]></Value>
      <Value Culture="vi"><![CDATA[Huấn luyện đào tạo nhóm]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "0cab5bb6-3aa1-4f19-9e27-2b378a7b57fc",
    "mediaKey": "bbb931d6-0ce1-4723-9890-6137ec2afed2"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Designed for mid-level managers, helps build cohesion, synchronization, and leadership capacity through mindfulness and meditation practices. 
Enhance creativity and problem-solving abilities within teams.]]></Value>
      <Value Culture="vi"><![CDATA[Dành cho đội ngũ quản lý cấp trung, giúp xây dựng sự gắn kết, đồng bộ và năng lực lãnh đạo thông qua các thực hành chánh niệm và thiền.
Tăng cường sự sáng tạo và khả năng giải quyết vấn đề trong nhóm.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Advanced Meditation and Mindfulness Training]]></Value>
      <Value Culture="vi"><![CDATA[Huấn luyện Thiền và Chánh Niệm chuyên sâu]]></Value>
    </subHeading>
  </Properties>
</Content>