<?xml version="1.0" encoding="utf-8"?>
<Content Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-12-11T13:16:48</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en">Home</Name>
      <Name Culture="vi">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d296c8f1-6d6a-4656-8517-22272f062e27">Homeh</Template>
  </Info>
  <Properties>
    <contactAddress>
      <Value Culture="en"><![CDATA[No. 41 Hoang Mai Street, Hoang Van Thu Ward, Hoang Mai District, Hanoi City, Vietnam]]></Value>
      <Value Culture="vi"><![CDATA[Số 41 đường Hoàng Mai, Phường Hoàng Văn Thụ, Quận Hoàng Mai, Thành phố Hà Nội, Việt Nam]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[contact@behf.info]]></Value>
    </contactEmail>
    <contactInfoText>
      <Value Culture="en"><![CDATA[Contact Info]]></Value>
      <Value Culture="vi"><![CDATA[Liên Hệ]]></Value>
    </contactInfoText>
    <contactPhone>
      <Value><![CDATA[0904 827 933]]></Value>
    </contactPhone>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d92f0d1ba535421c89d5fb6af7d03211",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/b523dba4e367486686cf0b6e082c1574",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/79d283be421c4a819294af2d08e7fbc7"
      },
      {
        "contentUdi": "umb://element/086d45a0750d451489d99f0664caa514",
        "settingsUdi": "umb://element/2b9846ca4db04cd39a4024950c069443",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/368ca1d7a5e843e190c5f7dd0f92a51a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/87491a6bb6224442be30684fe313b5f8",
        "settingsUdi": "umb://element/23b60b82794645f49a4708f769613805",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/e53282b7ba224182a5b43fc515c80ff4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/605363ad59b647a48addd6856e6a624e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/d92f0d1ba535421c89d5fb6af7d03211"
    },
    {
      "actionUrl": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Benefits of Meditation and Mindfulness",
      "highlightParagraph": "Meditation can be done anywhere, and for short or long periods of time.",
      "iconImage": [],
      "image": [
        {
          "key": "6a3abcf0-54bb-4858-ab0d-947f979bce43",
          "mediaKey": "1a76a1d5-0f22-4135-8b5e-f352649a7fb6"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "",
      "paragraph": {
        "markup": "<p>Meditation is a formal practice of mindfulness, that has both physical and mental health benefits. Meditation is a simple and effective practice to improve your health and reduce stress, anxiety immediately and improve your overall wellbeing.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "1",
      "subHeading": "Meditation is formal mindfulness",
      "udi": "umb://element/b523dba4e367486686cf0b6e082c1574",
      "youtubeVideo": "VWq3z33rH8c"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/086d45a0750d451489d99f0664caa514"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/87491a6bb6224442be30684fe313b5f8"
    },
    {
      "contentTypeKey": "82f5011e-ccea-4dd6-8eda-34db425a9154",
      "itemsPicker": "umb://document/443eba83125348b190db3393c1f917c1,umb://document/11b0356d7e7948db944f0a537ca9209a,umb://document/b9487fcdce7e4cf0b236ea17c460155d,umb://document/4d0ea7b6037e4e6586e699a7ca02dd54",
      "udi": "umb://element/e53282b7ba224182a5b43fc515c80ff4"
    },
    {
      "actionUrl": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Our Principles & Philosophy",
      "highlightParagraph": "HUMICARES = HUMAN + CARES",
      "iconImage": [],
      "image": [
        {
          "key": "ff9ca72c-f924-4f68-b078-167c3ce9f5fe",
          "mediaKey": "21ccdeb5-5241-4187-9b8e-17bc7c18ac45"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "1",
      "paragraph": {
        "markup": "<p>Benevolence, Evolution, Humbleness, Friendship stands for our principles and philosophy.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/368ca1d7a5e843e190c5f7dd0f92a51a",
      "youtubeVideo": ""
    },
    {
      "actionLink": [
        {
          "name": "Read More",
          "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4"
        }
      ],
      "backgroundColor": {
        "value": "ffffff",
        "label": "--bs-white-rgb",
        "sortOrder": 11,
        "id": "10"
      },
      "contentTypeKey": "8678600c-623f-444b-87e6-e3695481628e",
      "heading": "Potential Unlocking & Changes Creating",
      "paragraph": {
        "markup": "<p>Through mindfulness culture, BEHF aim to enhance your organizational performance.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "",
      "udi": "umb://element/605363ad59b647a48addd6856e6a624e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b3b2954497584a3fa6b2a76ff537ca7a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/b3b2954497584a3fa6b2a76ff537ca7a",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "0.125",
      "layoutBackgroundColorShade": "100",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/79d283be421c4a819294af2d08e7fbc7"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "overlay_bg_70",
      "layoutBackgroundImage": [
        {
          "key": "0b13971a-ae5b-4ece-80d4-28d5169ce746",
          "mediaKey": "4f4d1755-2810-4241-b37c-80d2e25ee190"
        }
      ],
      "udi": "umb://element/2b9846ca4db04cd39a4024950c069443"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e93a0b592beb4f918014936ffe87c238"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_5petal_flower_right_shape1"
            ],
            "hozPosition": [
              "left"
            ],
            "udi": "umb://element/e93a0b592beb4f918014936ffe87c238",
            "verPosition": [
              "top"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": {
        "value": "6f42c1",
        "label": "--bs-purple-rgb",
        "sortOrder": 8,
        "id": "3"
      },
      "layoutBackgroundColorOpacity": "0.125",
      "layoutBackgroundColorShade": "100",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/23b60b82794645f49a4708f769613805"
    }
  ]
}]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </contentLayout>
    <copyrightText>
      <Value Culture="en"><![CDATA[Copyright]]></Value>
      <Value Culture="vi"><![CDATA[Bản quyền]]></Value>
    </copyrightText>
    <english>
      <Value><![CDATA[Tiếng Anh]]></Value>
    </english>
    <heroBanners>
      <Value><![CDATA[umb://document/efecd82fa6074b5ab73ec92a42b322cc]]></Value>
    </heroBanners>
    <keywords>
      <Value Culture="en"><![CDATA[meditation
energy
health
mindful
wellness]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value><![CDATA[[
  {
    "key": "01b7aba7-16ea-476f-8a13-dc23a8a8714b",
    "mediaKey": "207bdd2e-73f9-4d1b-8deb-dca08d02f7d6"
  }
]]]></Value>
    </logo>
    <mainMenu>
      <Value Culture="en"><![CDATA[[
  {
    "description": "#",
    "title": "About US",
    "url": "#",
    "children": [
      {
        "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4",
        "key": "fa47c23d-2cd4-401f-a6be-f0a81d9d8be4",
        "name": "About BEHF",
        "description": "/about-behf/",
        "title": "About BEHF",
        "url": "/about-behf/",
        "children": [],
        "icon": "icon-item-arrangement",
        "published": true,
        "naviHide": false,
        "culture": "en-US",
        "itemType": "link"
      },
      {
        "udi": "umb://document/dc74f706e71a42b7a605373a7c93da59",
        "key": "dc74f706-e71a-42b7-a605-373a7c93da59",
        "name": "Vision, Mission & Values",
        "description": "/about-behf/vision-mission-values/",
        "title": "Vision, Mission & Values",
        "url": "/about-behf/vision-mission-values/",
        "children": [],
        "icon": "icon-item-arrangement",
        "published": true,
        "naviHide": false,
        "culture": "en-US",
        "itemType": "link",
        "id": 1087
      }
    ],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "/contact-us/",
    "collapsed": false,
    "title": "Contact Us",
    "anchor": "",
    "url": "/contact-us/",
    "children": [],
    "icon": "icon-link",
    "itemType": "link",
    "customClasses": "nav-button"
  },
  {
    "description": "#",
    "title": "Donate",
    "customClasses": "nav-button_reverse",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link",
    "noreferrer": "",
    "anchor": "#"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </mainMenu>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <quickLinksText>
      <Value Culture="en"><![CDATA[Quick Links]]></Value>
      <Value Culture="vi"><![CDATA[Liên Kết]]></Value>
    </quickLinksText>
    <siteName>
      <Value Culture="en"><![CDATA[Breath Energy Health Foundation - BEHF]]></Value>
      <Value Culture="vi"><![CDATA[BEHF Việt Nam]]></Value>
    </siteName>
    <siteUrl>
      <Value Culture="en"><![CDATA[https://www.behf.info/]]></Value>
      <Value Culture="vi"><![CDATA[https://www.behf.info/vi]]></Value>
    </siteUrl>
    <socialLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae798047243a49d6a8f1f4799243d950"
      },
      {
        "contentUdi": "umb://element/9a06fadb21594d24847b9fd56da09cf2"
      },
      {
        "contentUdi": "umb://element/e08019a5de9348bfa5d23fcdcb4e26c2"
      }
    ]
  },
  "contentData": [
    {
      "actionUrl": [
        {
          "name": "YouTube",
          "target": "_blank",
          "url": "https://www.youtube.com/@BEHF-PradeepVijay"
        }
      ],
      "contentTypeKey": "6d714407-4fa6-44f7-a25d-535b13ffc2f2",
      "iconImage": [],
      "udi": "umb://element/ae798047243a49d6a8f1f4799243d950"
    },
    {
      "actionUrl": [
        {
          "name": "Instagram",
          "target": "_blank",
          "url": "https://www.instagram.com/behf.pradeepvijay/"
        }
      ],
      "contentTypeKey": "6d714407-4fa6-44f7-a25d-535b13ffc2f2",
      "iconImage": [],
      "udi": "umb://element/9a06fadb21594d24847b9fd56da09cf2"
    },
    {
      "actionUrl": [
        {
          "name": "Facebook",
          "target": "_blank",
          "url": "https://www.facebook.com/BEHF.MasterPradeepVijay"
        }
      ],
      "contentTypeKey": "6d714407-4fa6-44f7-a25d-535b13ffc2f2",
      "iconImage": [],
      "udi": "umb://element/e08019a5de9348bfa5d23fcdcb4e26c2"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialLinks>
    <title>
      <Value Culture="en"><![CDATA[Breath Energy Health Foundation]]></Value>
      <Value Culture="vi"><![CDATA[BEHF Viet Nam]]></Value>
    </title>
    <vietnamese>
      <Value><![CDATA[Tiếng Việt]]></Value>
    </vietnamese>
  </Properties>
</Content>