<?xml version="1.0" encoding="utf-8"?>
<Content Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-12-11T13:16:48</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en">Home</Name>
      <Name Culture="vi">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="d296c8f1-6d6a-4656-8517-22272f062e27">Homeh</Template>
  </Info>
  <Properties>
    <bEHFBrief>
      <Value Culture="en"><![CDATA[Benevolence :: Evolution :: Humbleness :: Friendship]]></Value>
      <Value Culture="vi"><![CDATA[Lòng nhân ái :: Sự chuyển hoá :: Đức khiêm nhường :: Tình bạn chân thành]]></Value>
    </bEHFBrief>
    <blogLink>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </blogLink>
    <contactAddress>
      <Value Culture="en"><![CDATA[No. 41 Hoang Mai Street, Hoang Van Thu Ward, Hoang Mai District, Hanoi City, Vietnam]]></Value>
      <Value Culture="vi"><![CDATA[Số 41 đường Hoàng Mai, Phường Hoàng Văn Thụ, Quận Hoàng Mai, Thành phố Hà Nội, Việt Nam]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[contact@behf.info]]></Value>
    </contactEmail>
    <contactInfoText>
      <Value Culture="en"><![CDATA[Contact Info]]></Value>
      <Value Culture="vi"><![CDATA[Thông tin Liên hệ]]></Value>
    </contactInfoText>
    <contactPhone>
      <Value><![CDATA[0862 155 898]]></Value>
    </contactPhone>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d92f0d1ba535421c89d5fb6af7d03211",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/b523dba4e367486686cf0b6e082c1574",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/79d283be421c4a819294af2d08e7fbc7"
      },
      {
        "contentUdi": "umb://element/086d45a0750d451489d99f0664caa514",
        "settingsUdi": "umb://element/2b9846ca4db04cd39a4024950c069443",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/368ca1d7a5e843e190c5f7dd0f92a51a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/87491a6bb6224442be30684fe313b5f8",
        "settingsUdi": "umb://element/23b60b82794645f49a4708f769613805",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/e53282b7ba224182a5b43fc515c80ff4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/605363ad59b647a48addd6856e6a624e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/d92f0d1ba535421c89d5fb6af7d03211"
    },
    {
      "actionLink": [
        {
          "name": "Read More",
          "udi": "umb://document/12e65d39f0304a72b78315c54ab807fe"
        }
      ],
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Benefits of Meditation and Mindfulness",
      "highlightParagraph": "Meditation can be done anywhere, and for short or long periods of time.",
      "image": [
        {
          "key": "6a3abcf0-54bb-4858-ab0d-947f979bce43",
          "mediaKey": "1a76a1d5-0f22-4135-8b5e-f352649a7fb6"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "0",
      "paragraph": {
        "markup": "<p>Meditation is a formal practice of mindfulness, that has both physical and mental health benefits. Meditation is a simple and effective practice to improve your health and reduce stress, anxiety immediately and improve your overall wellbeing.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "1",
      "subHeading": "Meditation is formal mindfulness",
      "udi": "umb://element/b523dba4e367486686cf0b6e082c1574",
      "youtubeVideo": "VWq3z33rH8c"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/086d45a0750d451489d99f0664caa514"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/87491a6bb6224442be30684fe313b5f8"
    },
    {
      "contentTypeKey": "82f5011e-ccea-4dd6-8eda-34db425a9154",
      "itemsPicker": "umb://document/443eba83125348b190db3393c1f917c1,umb://document/11b0356d7e7948db944f0a537ca9209a,umb://document/b9487fcdce7e4cf0b236ea17c460155d,umb://document/4d0ea7b6037e4e6586e699a7ca02dd54",
      "udi": "umb://element/e53282b7ba224182a5b43fc515c80ff4"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Our Principles & Philosophy",
      "highlightParagraph": "HUMICARES = HUMAN + CARES",
      "image": [
        {
          "key": "ff9ca72c-f924-4f68-b078-167c3ce9f5fe",
          "mediaKey": "21ccdeb5-5241-4187-9b8e-17bc7c18ac45"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "1",
      "paragraph": {
        "markup": "<p>Benevolence, Evolution, Humbleness, Friendship stands for our principles and philosophy.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/368ca1d7a5e843e190c5f7dd0f92a51a",
      "youtubeVideo": ""
    },
    {
      "actionLink": [
        {
          "name": "Read More",
          "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4"
        }
      ],
      "backgroundColor": {
        "value": "ffffff",
        "label": "--bs-white-rgb",
        "sortOrder": 11,
        "id": "10"
      },
      "backgroundColorOpacity": "",
      "contentTypeKey": "8678600c-623f-444b-87e6-e3695481628e",
      "heading": "Potential Unlocking & Changes Creating",
      "paragraph": {
        "markup": "<p>Through mindfulness culture, BEHF aim to enhance your organizational performance.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "",
      "udi": "umb://element/605363ad59b647a48addd6856e6a624e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b3b2954497584a3fa6b2a76ff537ca7a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/b3b2954497584a3fa6b2a76ff537ca7a",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "0.125",
      "layoutBackgroundColorShade": "100",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/79d283be421c4a819294af2d08e7fbc7"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "overlay_bg_70",
      "layoutBackgroundImage": [
        {
          "key": "0b13971a-ae5b-4ece-80d4-28d5169ce746",
          "mediaKey": "4f4d1755-2810-4241-b37c-80d2e25ee190"
        }
      ],
      "udi": "umb://element/2b9846ca4db04cd39a4024950c069443"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e93a0b592beb4f918014936ffe87c238"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_5petal_flower_right_shape1"
            ],
            "hozPosition": [
              "left"
            ],
            "udi": "umb://element/e93a0b592beb4f918014936ffe87c238",
            "verPosition": [
              "top"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": {
        "value": "6f42c1",
        "label": "--bs-purple-rgb",
        "sortOrder": 8,
        "id": "3"
      },
      "layoutBackgroundColorOpacity": "0.125",
      "layoutBackgroundColorShade": "100",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/23b60b82794645f49a4708f769613805"
    }
  ]
}]]></Value>
      <Value Culture="vi"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/117a6b84306942aa880f40d1cd871697",
        "settingsUdi": "umb://element/f2ecc80fe3b04ea0ba202786120e4b57",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/2ef7835ce0b54d368f2e587d3e16b2c4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4578391f8854453eab3aad6babfe3dd7",
        "settingsUdi": "umb://element/a7293810b6544d268c78369ec639d96c",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/aebc8309d5cb4ce089812c5e499a7be1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8cbd672187c6400c985ab687d64c6a9f",
        "settingsUdi": "umb://element/53cabfa1b14f49508c7e6d41b9dede93",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/6095bcdf3e58413d939c75e2beb36118",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/26edb473942147cb9e86b9506956a211"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/117a6b84306942aa880f40d1cd871697"
    },
    {
      "actionLink": [
        {
          "name": "Tìm Hiểu Thêm",
          "udi": "umb://document/12e65d39f0304a72b78315c54ab807fe"
        }
      ],
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Lợi Ích của Thiền và Chánh niệm",
      "highlightParagraph": "Thiền có thể được thực hiện ở bất cứ đâu và trong thời gian ngắn hoặc dài.",
      "image": [
        {
          "key": "f9006154-6da2-4a03-8c8f-c43c5bc3e64f",
          "mediaKey": "1a76a1d5-0f22-4135-8b5e-f352649a7fb6"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "0",
      "paragraph": {
        "markup": "<p>Thiền là một phương pháp thực hành chánh niệm chính thức, mang lại lợi ích cho cả sức khỏe thể chất và tinh thần.</p>\n<p>Thiền là một phương pháp thực hành đơn giản và hiệu quả để cải thiện sức khỏe của bạn và giảm căng thẳng, lo lắng ngay lập tức và cải thiện sức khỏe tổng thể của bạn.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "Thiền là chánh niệm chính thức",
      "udi": "umb://element/2ef7835ce0b54d368f2e587d3e16b2c4",
      "youtubeVideo": ""
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/4578391f8854453eab3aad6babfe3dd7"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Nguyên Tắc và Triết Lý của Chúng Tôi",
      "highlightParagraph": "Lòng nhân từ, sự chuyển hóa, sự khiêm tốn, tình bạn là những nguyên tắc và triết lý của chúng tôi.",
      "image": [
        {
          "key": "f2965893-45aa-4d78-97ec-c8f5c52c1206",
          "mediaKey": "21ccdeb5-5241-4187-9b8e-17bc7c18ac45"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "1",
      "paragraph": "",
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "HUMICARES = HUMAN + CARES",
      "udi": "umb://element/aebc8309d5cb4ce089812c5e499a7be1",
      "youtubeVideo": ""
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/8cbd672187c6400c985ab687d64c6a9f"
    },
    {
      "contentTypeKey": "82f5011e-ccea-4dd6-8eda-34db425a9154",
      "itemsPicker": "umb://document/443eba83125348b190db3393c1f917c1,umb://document/11b0356d7e7948db944f0a537ca9209a,umb://document/b9487fcdce7e4cf0b236ea17c460155d,umb://document/4d0ea7b6037e4e6586e699a7ca02dd54",
      "udi": "umb://element/6095bcdf3e58413d939c75e2beb36118"
    },
    {
      "actionLink": [
        {
          "name": "Read More",
          "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4"
        }
      ],
      "backgroundColor": {
        "value": "ffffff",
        "label": "--bs-white-rgb",
        "sortOrder": 11,
        "id": "10"
      },
      "backgroundColorOpacity": "1",
      "contentTypeKey": "8678600c-623f-444b-87e6-e3695481628e",
      "heading": "Mở Khóa Tiềm Năng & Tạo Ra Thay Đổi",
      "paragraph": {
        "markup": "<p>Thông qua văn hóa chánh niệm, BEHF hướng đến mục tiêu nâng cao hiệu suất của doanh nghiệp của bạn.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "",
      "udi": "umb://element/26edb473942147cb9e86b9506956a211"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8c0ed2e1814d499e9ee908bf00868bc3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/8c0ed2e1814d499e9ee908bf00868bc3",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/f2ecc80fe3b04ea0ba202786120e4b57"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [
        {
          "key": "168e954d-b361-4842-8174-2301998eca36",
          "mediaKey": "ac350093-0537-4db4-868b-1e832257f8dd"
        }
      ],
      "udi": "umb://element/a7293810b6544d268c78369ec639d96c"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": {
        "value": "6610f2",
        "label": "--bs-indigo-rgb",
        "sortOrder": 5,
        "id": "4"
      },
      "layoutBackgroundColorOpacity": "0.250",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/53cabfa1b14f49508c7e6d41b9dede93"
    }
  ]
}]]></Value>
    </contentLayout>
    <copyrightText>
      <Value Culture="en"><![CDATA[Copyright]]></Value>
      <Value Culture="vi"><![CDATA[Bản quyền]]></Value>
    </copyrightText>
    <english>
      <Value><![CDATA[Tiếng Anh]]></Value>
    </english>
    <heroBanners>
      <Value><![CDATA[umb://document/efecd82fa6074b5ab73ec92a42b322cc]]></Value>
    </heroBanners>
    <keywords>
      <Value Culture="en"><![CDATA[meditation
energy
health
mindful
wellness]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value><![CDATA[[
  {
    "key": "01b7aba7-16ea-476f-8a13-dc23a8a8714b",
    "mediaKey": "207bdd2e-73f9-4d1b-8deb-dca08d02f7d6"
  }
]]]></Value>
    </logo>
    <mainMenu>
      <Value Culture="en"><![CDATA[[
  {
    "description": "#",
    "title": "About US",
    "url": "#",
    "children": [
      {
        "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4",
        "key": "fa47c23d-2cd4-401f-a6be-f0a81d9d8be4",
        "name": "About BEHF",
        "description": "/about-behf/",
        "title": "About BEHF",
        "url": "/about-behf/",
        "children": [],
        "icon": "icon-item-arrangement",
        "published": true,
        "naviHide": false,
        "culture": "en-US",
        "itemType": "link"
      },
      {
        "udi": "umb://document/dc74f706e71a42b7a605373a7c93da59",
        "key": "dc74f706-e71a-42b7-a605-373a7c93da59",
        "name": "Vision, Mission & Values",
        "description": "/about-behf/vision-mission-values/",
        "title": "Vision, Mission & Values",
        "url": "/about-behf/vision-mission-values/",
        "children": [],
        "icon": "icon-item-arrangement",
        "published": true,
        "naviHide": false,
        "culture": "en-US",
        "itemType": "link",
        "id": 1087
      }
    ],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "udi": "umb://document/12e65d39f0304a72b78315c54ab807fe",
    "key": "12e65d39-f030-4a72-b783-15c54ab807fe",
    "name": "Training Program",
    "description": "/training-program/",
    "title": "Training Program",
    "url": "/training-program/",
    "children": [],
    "icon": "icon-item-arrangement",
    "published": true,
    "naviHide": false,
    "culture": "en",
    "itemType": "link",
    "id": 1090
  },
  {
    "description": "/contact-us/",
    "collapsed": false,
    "title": "Contact Us",
    "anchor": "",
    "url": "/contact-us/",
    "children": [],
    "icon": "icon-link",
    "itemType": "link",
    "customClasses": "nav-button"
  },
  {
    "description": "#",
    "title": "Donate",
    "customClasses": "nav-button_reverse",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link",
    "noreferrer": "",
    "anchor": "#"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </mainMenu>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <quickLinks>
      <Value Culture="en"><![CDATA[[
  {
    "name": "Our community Blog",
    "target": "_blank",
    "url": "https://nas.io/behf-masterpradeepvijay"
  },
  {
    "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4"
  },
  {
    "udi": "umb://document/44773e80aafb4c418235a156cb67a68e"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "name": "Blog Cộng đồng BEHF",
    "target": "_blank",
    "url": "https://nas.io/behf-masterpradeepvijay"
  },
  {
    "udi": "umb://document/fa47c23d2cd4401fa6bef0a81d9d8be4"
  },
  {
    "udi": "umb://document/44773e80aafb4c418235a156cb67a68e"
  }
]]]></Value>
    </quickLinks>
    <quickLinksText>
      <Value Culture="en"><![CDATA[Quick Links]]></Value>
      <Value Culture="vi"><![CDATA[Liên kết nhanh]]></Value>
    </quickLinksText>
    <siteName>
      <Value Culture="en"><![CDATA[Breath Energy Health Foundation - BEHF]]></Value>
      <Value Culture="vi"><![CDATA[BEHF Việt Nam]]></Value>
    </siteName>
    <siteUrl>
      <Value Culture="en"><![CDATA[https://www.behf.info/]]></Value>
      <Value Culture="vi"><![CDATA[https://www.behf.info/vi]]></Value>
    </siteUrl>
    <socialLinks>
      <Value><![CDATA[[
  {
    "name": "Zalo",
    "target": "_blank",
    "url": "https://zalo.me/g/oeyfrt323"
  },
  {
    "name": "YouTube",
    "target": "_blank",
    "url": "https://www.youtube.com/@BEHF-PradeepVijay"
  },
  {
    "name": "Facebook",
    "target": "_blank",
    "url": "https://www.facebook.com/BEHF.MasterPradeepVijay"
  }
]]]></Value>
    </socialLinks>
    <title>
      <Value Culture="en"><![CDATA[Breath Energy Health Foundation]]></Value>
      <Value Culture="vi"><![CDATA[BEHF Viet Nam]]></Value>
    </title>
    <vietnamese>
      <Value><![CDATA[Tiếng Việt]]></Value>
    </vietnamese>
  </Properties>
</Content>