<?xml version="1.0" encoding="utf-8"?>
<Content Key="c08b79d6-8bfc-4e11-adf5-a56a9406e6b3" Alias="Meditation practice" Level="3">
  <Info>
    <Parent Key="4511b1c8-65b4-4d9c-8f0b-deadffec846c">Hero Banners</Parent>
    <Path>/Home/HeroBanners/MeditationPractice</Path>
    <Trashed>false</Trashed>
    <ContentType>heroBannerBlock</ContentType>
    <CreateDate>2024-12-29T12:59:18</CreateDate>
    <NodeName Default="Meditation practice" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <actionUrl>
      <Value><![CDATA[]]></Value>
    </actionUrl>
    <bannerColor>
      <Value><![CDATA[{
  "value": "ff7d09",
  "label": "bg_orange",
  "sortOrder": 10,
  "id": "6"
}]]></Value>
    </bannerColor>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <contentAlign>
      <Value><![CDATA[]]></Value>
    </contentAlign>
    <heading>
      <Value><![CDATA[What is Meditation?]]></Value>
    </heading>
    <iconImage>
      <Value><![CDATA[[]]]></Value>
    </iconImage>
    <paragraph>
      <Value><![CDATA[{
  "markup": "<p>Meditation is a practice that involves<span>&nbsp;</span><strong>focusing on the present moment and being aware of your surroundings</strong>.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </paragraph>
    <subHeading>
      <Value><![CDATA[]]></Value>
    </subHeading>
  </Properties>
</Content>