<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9487fcd-ce7e-4cf0-b236-ea17c460155d" Alias="Ms Giang Kyo Fashion" Level="3">
  <Info>
    <Parent Key="03834c3d-92ea-4182-aa60-b70a12c5d4d8">Testimonials</Parent>
    <Path>/Home/Testimonials/MsGiangKyoFashion</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2025-02-10T17:38:18</CreateDate>
    <NodeName Default="Ms Giang Kyo Fashion">
      <Name Culture="en-us">Ms Giang Kyo Fashion</Name>
      <Name Culture="vi">Ms Giang Kyo Fashion</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <feedback>
      <Value Culture="en-us"><![CDATA[This is an experience that Giang has never had in 40 years. This program holds special meaning for Giang because it helped me deeply understand what I truly needs and wants. After 7 days of silence and a vegetarian diet, Giang discovered many things that brought out the best within myself. I feels a responsibility to share and introduce the program to others, so that more people can have moments to reflect on themselves. And when they return to their daily lives, they will contribute to themselves, their loved ones, and society.]]></Value>
      <Value Culture="vi"><![CDATA[Đây là một trải nghiệm mà 40 năm nay Giang chưa bao giờ có. Chương trình này có ý nghĩa đặc biệt với Giang vì Giang được hiểu sâu thẳm trong mình đang cần gì, muốn gì. Sau 7 ngày tịnh khẩu và ăn chay thì Giang đã khám phá được nhiều thứ phát huy những điều tốt đẹp bên trong chính mình. Giang thấy mình có trách nhiệm chia sẻ và gieo duyên để nhiều người biết đến chương trình, để mỗi người chúng ta có những phút giây tìm hiểu về chính mình và sau khi trở về cuộc sống sẽ cống hiến cho chính mình, cho những người thân yêu và cho xã hội.]]></Value>
    </feedback>
    <image>
      <Value><![CDATA[[
  {
    "key": "211be3db-e04d-48b0-ad50-3517301a307f",
    "mediaKey": "89cfaeff-a2e2-4116-b14b-702376e3f406"
  }
]]]></Value>
    </image>
    <organization>
      <Value Culture="en-us"><![CDATA[CEO, Giang Kyo Fashion]]></Value>
      <Value Culture="vi"><![CDATA[Giám đốc điều hành, Giang Kyo Fashion]]></Value>
    </organization>
    <personName>
      <Value Culture="en-us"><![CDATA[Ms Giang Kyo]]></Value>
      <Value Culture="vi"><![CDATA[Chị Giang Kyo]]></Value>
    </personName>
  </Properties>
</Content>