<?xml version="1.0" encoding="utf-8"?>
<Content Key="443eba83-1253-48b1-90db-3393c1f917c1" Alias="Ms Le Quynh Nga ELITE ARTS VIETNAM" Level="3">
  <Info>
    <Parent Key="03834c3d-92ea-4182-aa60-b70a12c5d4d8">Testimonials</Parent>
    <Path>/Home/Testimonials/MsLeQuynhNgaELITEARTSVIETNAM</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2025-02-10T16:24:37</CreateDate>
    <NodeName Default="Ms Le Quynh Nga ELITE ARTS VIETNAM">
      <Name Culture="en-us">Ms Le Quynh Nga ELITE ARTS VIETNAM</Name>
      <Name Culture="vi">Ms Le Quynh Nga ELITE ARTS VIETNAM</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <feedback>
      <Value Culture="en-us"><![CDATA[I feel warm and touched by the heartfelt and attentive hospitality from the program's service team. It has been a long time since I’ve experienced such peace. As a busy entrepreneur and an extrovert, the absolute stillness of the past few days has allowed me to reconnect with myself, to see into my heart, and to clearly recognize the changes I need to make in order to live a happier, more peaceful life and run my business more effectively once I return.]]></Value>
      <Value Culture="vi"><![CDATA[Tôi cảm thấy ấm áp bởi sự đón tiếp và chăm sóc nồng hậu chu đáo từ đội ngũ phụng sự của chương trình. Đã từ lâu tôi không được trải nghiệm cảm giác bình yên đến vậy. Tôi là 1 doanh nhân luôn bận rộn với công việc và cũng là một người hướng ngoại. Do vậy việc tĩnh lặng tuyệt đối mấy ngày vừa qua giúp tôi trở về với chính mình, nhìn thấu tâm can mình và thấy rõ những điều mình cần thay đổi để có một cuộc sống hạnh phúc bình an hơn và vận hành công việc hiệu quả hơn sau khi trở về.]]></Value>
    </feedback>
    <image>
      <Value><![CDATA[[
  {
    "key": "a1e60a23-a287-4744-809b-c29badac93c5",
    "mediaKey": "5a6cf235-bdfb-4fe9-8763-d4ebf9e4747c"
  }
]]]></Value>
    </image>
    <organization>
      <Value Culture="en-us"><![CDATA[Chairman Board, ELITE ARTS VIETNAM]]></Value>
      <Value Culture="vi"><![CDATA[Chủ tịch HĐQT, ELITE ARTS VIETNAM]]></Value>
    </organization>
    <personName>
      <Value Culture="en-us"><![CDATA[Ms Le Quynh Nga]]></Value>
      <Value Culture="vi"><![CDATA[Chị Lê Quỳnh Nga]]></Value>
    </personName>
  </Properties>
</Content>