<?xml version="1.0" encoding="utf-8"?>
<Content Key="11b0356d-7e79-48db-944f-0a537ca9209a" Alias="Ms Nguyen Thi Thanh Thuy Wlin Saigon" Level="3">
  <Info>
    <Parent Key="03834c3d-92ea-4182-aa60-b70a12c5d4d8">Testimonials</Parent>
    <Path>/Home/Testimonials/MsNguyenThiThanhThuyWlinSaigon</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2025-02-10T16:44:48</CreateDate>
    <NodeName Default="Ms Nguyen Thi Thanh Thuy Wlin Saigon">
      <Name Culture="en-us">Ms Nguyen Thi Thanh Thuy Wlin Saigon</Name>
      <Name Culture="vi">Ms Nguyen Thi Thanh Thuy Wlin Saigon</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <feedback>
      <Value Culture="en-us"><![CDATA[This retreat helped me find deep stillness and connect with myself. As a result, I was able to answer two important questions regarding the direction of my future work. I’m very happy to have received an invitation from a global leadership alliance to share the benefits of meditation right after this retreat. I realized that my mission is to share the meaning and benefits of meditation with the community.]]></Value>
      <Value Culture="vi"><![CDATA[Chương trình nghỉ dưỡng này đã giúp tôi tìm thấy sự tĩnh lặng sâu sắc và kết nối lại với chính mình. Kết quả là, tôi đã có thể trả lời hai câu hỏi quan trọng liên quan đến hướng đi công việc trong tương lai của mình. Tôi rất vui mừng khi nhận được lời mời từ một liên minh lãnh đạo toàn cầu để chia sẻ những lợi ích của thiền ngay sau khi kết thúc chương trình nghỉ dưỡng này. Tôi nhận ra rằng sứ mệnh của mình là chia sẻ ý nghĩa và lợi ích của thiền với cộng đồng.]]></Value>
    </feedback>
    <image>
      <Value><![CDATA[[
  {
    "key": "337cd78a-cb96-4475-9afa-c820480aca1c",
    "mediaKey": "30346707-b363-4374-86a4-3472e6c66dc2"
  }
]]]></Value>
    </image>
    <organization>
      <Value Culture="en-us"><![CDATA[Vice President, Wlin Saigon - Wlin Global]]></Value>
      <Value Culture="vi"><![CDATA[Phó Chủ tịch HĐQT, Wlin Saigon - Wlin Global]]></Value>
    </organization>
    <personName>
      <Value Culture="en-us"><![CDATA[Ms Nguyen Thi Thanh Thuy]]></Value>
      <Value Culture="vi"><![CDATA[Chị Nguyễn Thị Thanh Thúy]]></Value>
    </personName>
  </Properties>
</Content>