<?xml version="1.0" encoding="utf-8"?>
<Content Key="e63d56f3-2f1a-4a10-976a-8108ade45494" Alias="One-on-One Coaching" Level="3">
  <Info>
    <Parent Key="929d7ea1-d990-4f16-8073-76f75866a898">Business Courses</Parent>
    <Path>/Home/BusinessCourses/OneOnOneCoaching</Path>
    <Trashed>false</Trashed>
    <ContentType>programBriefInfo</ContentType>
    <CreateDate>2025-03-20T17:33:21</CreateDate>
    <NodeName Default="One-on-One Coaching">
      <Name Culture="en">One-on-One Coaching</Name>
      <Name Culture="vi">Huấn luyện đào tạo 1-1</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value Culture="en"><![CDATA[One-on-One Coaching]]></Value>
      <Value Culture="vi"><![CDATA[Huấn luyện đào tạo 1-1]]></Value>
    </heading>
    <listingImage>
      <Value><![CDATA[[
  {
    "key": "5b3011f0-50a8-423d-8522-e716f6fa29a2",
    "mediaKey": "4c110e1e-1935-468e-a01d-64e43046e63e"
  }
]]]></Value>
    </listingImage>
    <objectives>
      <Value Culture="en"><![CDATA[Personalized guidance focused on helping leaders unlock their potential and improve decision-making through meditation and mindfulness. 
Support stress management and work-life balance.]]></Value>
      <Value Culture="vi"><![CDATA[Cung cấp sự hướng dẫn cá nhân hóa, tập trung vào việc giúp lãnh đạo khai phá tiềm năng và cải thiện khả năng ra quyết định thông qua thiền và chánh niệm.
Hỗ trợ quản lý căng thẳng, cân bằng cuộc sống và công việc.]]></Value>
    </objectives>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Advanced Meditation and Mindfulness Training]]></Value>
      <Value Culture="vi"><![CDATA[Huấn luyện Thiền và Chánh Niệm chuyên sâu]]></Value>
    </subHeading>
  </Properties>
</Content>