<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e3629e2-d619-4105-89c7-95f255fdbb18" Alias="Our Enlightener" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About Us</Parent>
    <Path>/Home/AboutUs/OurEnlightener</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:17:14</CreateDate>
    <NodeName Default="Our Enlightener">
      <Name Culture="en-us">Our Enlightener</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[]]></Value>
    </contentLayout>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>