<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e3629e2-d619-4105-89c7-95f255fdbb18" Alias="Our Enlightener" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/OurEnlightener</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:17:14</CreateDate>
    <NodeName Default="Our Enlightener">
      <Name Culture="en">Our Enlightener</Name>
      <Name Culture="vi">Vị thầy khai sáng</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/54f150a6794e4727ab287598c801ac79",
        "settingsUdi": "umb://element/71b749c02c994cd4bb6066c711c15c4d",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/cbd3c7f75b6d4074a74e445ff471764c",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/73aa471402ab40aaa9afbf1f201c13e0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/64afe2a58f01461980aa128be6d10f15",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/df3de81f26b7457fa4b8966cd30582da",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/33fb06759e5a41ac992ffca07da7e65b"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/14f2f82c98934619a74066f3495e3eb3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/54f150a6794e4727ab287598c801ac79"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "",
      "highlightParagraph": "Master Pradeep Vijay is an expert in Meditation Science and Mindfulness, dedicated to bringing peace and happiness to people worldwide.",
      "paragraph": {
        "markup": "<p>Born in 1982 in India, Master Pradeep Vijay is currently the Managing Trustee of the Agathiyar Pyramid Dhyana Ashram, an international meditation center located in Tamil Nadu, India.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/cbd3c7f75b6d4074a74e445ff471764c"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Educational and Meditation Journey",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Education:</strong> He holds a Bachelor’s degree in Engineering (Information Technology) from Chennai, India, and a Master’s degree in Information Systems from Melbourne, Australia.</li>\n<li><strong>Meditation Journey:</strong> Master Pradeep Vijay began his journey in meditation at a young age, inspired by the transformative power of silence and mindfulness. Over the past 16 years, he has immersed himself in studying and practicing traditional meditation techniques, particularly Breath Awareness Meditation (Anapanasati), integrated with modern approaches to address life’s challenges.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/73aa471402ab40aaa9afbf1f201c13e0"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Mission to spread the value of meditation",
      "highlightParagraph": "Through his journey, Master Pradeep has inspired and guided thousands of individuals, including corporate leaders, educators, healthcare professionals, office employees, and students worldwide.",
      "image": [
        {
          "key": "cf2bc600-c3d9-432d-8b53-6c8f9ca3b27d",
          "mediaKey": "04364dcb-9aa7-4114-a4fb-0fce8eb07134"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "0",
      "paragraph": {
        "markup": "<p>He has organized numerous training sessions, workshops, and practice programs to help participants explore their potential and achieve balance in their lives.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/64afe2a58f01461980aa128be6d10f15",
      "youtubeVideo": ""
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Philosophy and Influence on BEHF",
      "highlightParagraph": "Master Pradeep believes that transformation starts not from grand actions but from individuals learning to manage themselves, create value, and radiate positive energy. His vision and philosophy serve as the compass for all of BEHF’ initiatives, establishing it as a pioneering social enterprise in the field of meditation and mindfulness.",
      "paragraph": {
        "markup": "<p>Master Pradeep’s philosophy is rooted in the belief that meditation and mindfulness are not just tools for personal development but also foundational practices for building strong teams, exceptional leaders, and effective organizations. He emphasizes:</p>\n<ul>\n<li><strong>Meditation as a skill:</strong> Enhancing focus, decision-making, and work performance.</li>\n<li><strong>Mindfulness as a capability:</strong> Bringing total presence and clarity to every situation.</li>\n</ul>\n<p>Under Master Pradeep’s guidance, BEHF has developed unique programs that blend traditional meditation philosophies with practical applications for work and life. He serves as an inspirational leader and strategic advisor for BEHF, helping the organization extend the values of meditation and mindfulness to businesses, institutions, and individuals worldwide.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/df3de81f26b7457fa4b8966cd30582da"
    },
    {
      "backgroundColor": {
        "value": "ffc107",
        "label": "--bs-yellow-rgb",
        "sortOrder": 12,
        "id": "13"
      },
      "backgroundColorOpacity": "0.750",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Teaching Philosophy of Master Pradeep Vijay",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Simple, Instantaneous Effective Methods:</strong> The meditation techniques focus on natural breathing and mental stillness, without the need for complex tools or long periods of practice to master.</li>\n<li><strong>Unique Delivery Style:</strong> With humor, empathy, and practical examples, Master Pradeep transforms abstract concepts into easy-to-understand and relatable ideas.</li>\n<li><strong>Practical Application in Business:</strong> He has helped many organizations improve labor productivity, reduce turnover rates, and enhance employee satisfaction through specialized training programs.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/33fb06759e5a41ac992ffca07da7e65b"
    },
    {
      "backgroundColor": {
        "value": "fd7e14",
        "label": "--bs-orange-rgb",
        "sortOrder": 6,
        "id": "12"
      },
      "backgroundColorOpacity": "0.750",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Benefits for Businesses & Leadership",
      "highlightParagraph": "Master Pradeep Vijay offers not only a training program but also a journey of mindset transformation and sustainable development for your business.",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Enhance Leadership Capacity:</strong> Helps managers maintain clarity and insight in their decision-making.</li>\n<li><strong>Build a Sustainable Organizational Culture:</strong> Strengthens teamwork, creativity, and work efficiency.</li>\n<li><strong>Reduce Stress and Improve Morale:</strong> Supports leaders and teams in overcoming challenges in a positive and effective way.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/14f2f82c98934619a74066f3495e3eb3"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/80aee25d1c5340798429054aa6a57d54"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/80aee25d1c5340798429054aa6a57d54",
            "verPosition": [
              "top"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/71b749c02c994cd4bb6066c711c15c4d"
    }
  ]
}]]></Value>
      <Value Culture="vi"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/68819901488744758d5f778a1938dd2d",
        "settingsUdi": "umb://element/d475165fe54d4fe7af11bc1f71555b75",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/72717e253a384a7caccd0b6114bf640a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9d9db0872954410ea404f45b02a7c39f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/823f73e81c6b434ea9d5b567623ad849",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/36b6313bdc7a4278866afe4885168a74",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/32ac819d306a4bf9b589673f07ed3006",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/06f299257332444482ef99a4205f66a1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/68819901488744758d5f778a1938dd2d"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "",
      "highlightParagraph": "Master Pradeep Vijay là một chuyên gia đào tạo Khoa học thiền định và Chánh niệm, với sứ mệnh mang lại bình an và hạnh phúc cho mọi người.",
      "paragraph": {
        "markup": "<p>Master Pradeep Vijay (sinh năm 1982 tại Ấn Độ), là một chuyên gia đào tạo Khoa học Thiền định và Chánh niệm. Hiện nay, thầy Pradeep đang là người điều hành Thiền viện Agathiyar Pyramid Dhyana Ashram, một trung tâm thiền quốc tế tại Tamil Nadu, Ấn Độ.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/72717e253a384a7caccd0b6114bf640a"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Hành Trình Học Vấn và Thiền Định",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Học vấn:</strong> Cử nhân Kỹ thuật (Công nghệ Thông tin) tại Chennai, Ấn Độ và Thạc sĩ Hệ thống Thông tin tại Melbourne, Úc.</li>\n<li><strong>Hành trình thiền:</strong> Master Pradeep Vijay bắt đầu hành trình thiền định của mình từ khi còn trẻ, được truyền cảm hứng bởi sức mạnh của sự tĩnh lặng và chánh niệm. Ông đã dành hơn 16 năm nghiên cứu và thực hành các phương pháp thiền truyền thống, đặc biệt là Thiền Quan sát hơi thở, kết hợp với cách tiếp cận hiện đại để giải quyết những thách thức trong cuộc sống và công việc.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/9d9db0872954410ea404f45b02a7c39f"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Sứ mệnh lan tỏa giá trị của Thiền định",
      "highlightParagraph": "Với sứ mệnh lan tỏa giá trị của thiền định, ông đã tổ chức nhiều khóa đào tạo, hội thảo và chương trình thực hành, giúp người tham gia khám phá tiềm năng của bản thân và đạt được sự cân bằng trong cuộc sống.",
      "image": [
        {
          "key": "6bd84f7c-da53-4303-ac0f-062a91d20fb1",
          "mediaKey": "020f6fee-ce91-4692-8ec7-83fd1df222a9"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "0",
      "paragraph": {
        "markup": "<p>Trên hành trình của mình, Master Pradeep đã truyền cảm hứng và hướng dẫn cho hàng nghìn cá nhân, từ các nhà lãnh đạo doanh nghiệp, giáo viên, bác sĩ đến nhân viên văn phòng và sinh viên trên toàn thế giới.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/823f73e81c6b434ea9d5b567623ad849",
      "youtubeVideo": ""
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Triết lý và Ảnh hưởng đối với BEHF",
      "highlightParagraph": "Master Pradeep luôn tin rằng sự thay đổi không bắt đầu từ những điều lớn lao, mà từ việc mỗi người biết cách quản lý bản thân, tạo ra giá trị và lan tỏa năng lượng tích cực. Tầm nhìn và triết lý của ông chính là kim chỉ nam cho mọi hoạt động của BEHF, đưa tổ chức trở thành một trong những doanh nghiệp xã hội tiên phong trong lĩnh vực thiền và chánh niệm.",
      "paragraph": {
        "markup": "<p>Triết lý của Master Pradeep được xây dựng dựa trên niềm tin rằng thiền và chánh niệm không chỉ là những công cụ rèn luyện cá nhân mà còn là nền tảng để xây dựng đội ngũ mạnh mẽ, lãnh đạo xuất sắc, và tổ chức hiệu quả. Ông luôn nhấn mạnh rằng:</p>\n<ul>\n<li><strong>Thiền định là kỹ năng:</strong> Giúp tăng cường sự tập trung, nâng cao khả năng ra quyết định và cải thiện hiệu suất làm việc.</li>\n<li><strong>Chánh niệm là năng lực:</strong> Mang lại sự hiện diện trọn vẹn và sự sáng suốt trong mọi tình huống.</li>\n</ul>\n<p>Dưới sự dẫn dắt của Master Pradeep, BEHF đã phát triển các chương trình độc đáo, kết hợp giữa triết lý thiền định truyền thống và ứng dụng thực tiễn trong công việc và cuộc sống. Ông đóng vai trò là người truyền cảm hứng và cố vấn chiến lược cho BEHF, giúp tổ chức lan tỏa giá trị thiền và chánh niệm đến cộng đồng doanh nghiệp, tổ chức, và cá nhân trên toàn cầu.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/36b6313bdc7a4278866afe4885168a74"
    },
    {
      "backgroundColor": {
        "value": "0dcaf0",
        "label": "--bs-cyan-rgb",
        "sortOrder": 2,
        "id": "9"
      },
      "backgroundColorOpacity": "0.875",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Triết lý giảng dạy của Thầy Pradeep Vijay",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Phương pháp đơn giản, hiệu quả tức thì:</strong> Các kỹ thuật thiền tập trung vào hơi thở tự nhiên và sự tĩnh lặng tâm trí, không yêu cầu công cụ phức tạp hay thời gian dài để thành thạo.</li>\n<li><strong>Phong cách truyền tải độc đáo:</strong> Với sự hài hước, nhân văn và các ví dụ thực tế, thầy biến những khái niệm trừu tượng trở thành dễ hiểu và gần gũi.</li>\n<li><strong>Ứng dụng thực tiễn trong doanh nghiệp:</strong> Thầy đã giúp nhiều tổ chức cải thiện năng suất lao động, giảm tỷ lệ nghỉ việc và nâng cao sự hài lòng của nhân viên qua các khóa đào tạo chuyên biệt.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/32ac819d306a4bf9b589673f07ed3006"
    },
    {
      "backgroundColor": {
        "value": "20c997",
        "label": "--bs-teal-rgb",
        "sortOrder": 10,
        "id": "8"
      },
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Lợi ích cho Doanh nghiệp và Lãnh đạo",
      "highlightParagraph": "Master Pradeep Vijay không chỉ mang đến một chương trình đào tạo mà còn là một hành trình thay đổi tư duy và phát triển bền vững cho doanh nghiệp của bạn.",
      "paragraph": {
        "markup": "<ul>\n<li><strong>Nâng cao năng lực lãnh đạo:</strong> Giúp các nhà quản lý duy trì sự tỉnh táo, sáng suốt trong điều hành.</li>\n<li><strong>Xây dựng văn hóa tổ chức bền vững:</strong> Tăng cường tinh thần hợp tác, sáng tạo và hiệu quả trong công việc.</li>\n<li><strong>Giảm áp lực và cải thiện tinh thần:</strong> Hỗ trợ lãnh đạo và đội ngũ vượt qua thách thức một cách tích cực và hiệu quả.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/06f299257332444482ef99a4205f66a1"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9c99510ec290472fbd090d3d770db997"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/9c99510ec290472fbd090d3d770db997",
            "verPosition": [
              "top"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/d475165fe54d4fe7af11bc1f71555b75"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[[
  {
    "key": "2211f086-db0c-4607-ac6e-50e130ddbaf2",
    "mediaKey": "5f2232b8-817e-4bc3-9b0b-b8b138e30453"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[Introduction to Master Pradeep Vijay]]></Value>
      <Value Culture="vi"><![CDATA[Giới thiệu về Master Pradeep]]></Value>
    </title>
  </Properties>
</Content>