<?xml version="1.0" encoding="utf-8"?>
<Content Key="47c33df4-b8b8-4587-927d-dfcaf60f0555" Alias="Retreats" Level="4">
  <Info>
    <Parent Key="6179fe13-2e59-4c9e-ac40-62820e65c85e">For Businesses</Parent>
    <Path>/Home/TrainingProgram/ForBusinesses/Retreats</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:22:21</CreateDate>
    <NodeName Default="Retreats">
      <Name Culture="en">Retreats</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>