<?xml version="1.0" encoding="utf-8"?>
<Content Key="efecd82f-a607-4b5a-b73e-c92a42b322cc" Alias="Start Healing Your Mind" Level="3">
  <Info>
    <Parent Key="4511b1c8-65b4-4d9c-8f0b-deadffec846c">Hero Banners</Parent>
    <Path>/Home/HeroBanners/StartHealingYourMind</Path>
    <Trashed>false</Trashed>
    <ContentType>heroBannerBlock</ContentType>
    <CreateDate>2025-02-25T17:45:11</CreateDate>
    <NodeName Default="Start Healing Your Mind">
      <Name Culture="en">Start Healing Your Mind</Name>
      <Name Culture="vi">Bắt đầu chữa lành tâm trí</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <actionLink>
      <Value Culture="en"><![CDATA[[
  {
    "name": "Let Start",
    "udi": "umb://document/12e65d39f0304a72b78315c54ab807fe",
    "queryString": "#"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "name": "Hãy Bắt Đầu",
    "udi": "umb://document/12e65d39f0304a72b78315c54ab807fe"
  }
]]]></Value>
    </actionLink>
    <bannerColor>
      <Value><![CDATA[]]></Value>
    </bannerColor>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "aabbd392-ad51-4360-b81b-5ce6d9e2843d",
    "mediaKey": "d863aa7f-96b1-4bb5-9a36-dbc0ea6b9608"
  }
]]]></Value>
    </bannerImage>
    <contentAlign>
      <Value><![CDATA[[
  "Left"
]]]></Value>
    </contentAlign>
    <heading>
      <Value Culture="en"><![CDATA[Start Healing Your Mind,]]></Value>
      <Value Culture="vi"><![CDATA[Bắt Đầu Chữa Lành Tâm Trí,]]></Value>
    </heading>
    <headingEffectPart>
      <Value Culture="en"><![CDATA[<span class="ityped">Body &amp; Soul</span><span class="ityped-cursor">|</span>]]></Value>
      <Value Culture="vi"><![CDATA[<span class="ityped">Cơ Thể và Tâm Hồn Bạn</span><span class="ityped-cursor">|</span>]]></Value>
    </headingEffectPart>
    <overImage>
      <Value Culture="en"><![CDATA[[
  {
    "key": "aa9effa9-cb45-4951-8163-8537e7d87349",
    "mediaKey": "41591e74-78b8-4ba0-bffc-93747cd169e6"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[
  {
    "key": "c73ec962-bb8e-43ff-a2aa-f9bcda0ba4ed",
    "mediaKey": "41591e74-78b8-4ba0-bffc-93747cd169e6"
  }
]]]></Value>
    </overImage>
    <paragraph>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[Start a Happy Life]]></Value>
      <Value Culture="vi"><![CDATA[Bắt đầu một cuộc sống hạnh phúc]]></Value>
    </subHeading>
  </Properties>
</Content>