<?xml version="1.0" encoding="utf-8"?>
<Content Key="efecd82f-a607-4b5a-b73e-c92a42b322cc" Alias="Start Healing Your Mind" Level="3">
  <Info>
    <Parent Key="4511b1c8-65b4-4d9c-8f0b-deadffec846c">Hero Banners</Parent>
    <Path>/Home/HeroBanners/StartHealingYourMind</Path>
    <Trashed>false</Trashed>
    <ContentType>heroBannerBlock</ContentType>
    <CreateDate>2025-02-25T17:45:11</CreateDate>
    <NodeName Default="Start Healing Your Mind">
      <Name Culture="en-us">Start Healing Your Mind</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <actionLink>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Let Start",
    "url": "#"
  }
]]]></Value>
    </actionLink>
    <actionUrl>
      <Value><![CDATA[]]></Value>
    </actionUrl>
    <bannerColor>
      <Value><![CDATA[]]></Value>
    </bannerColor>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "aabbd392-ad51-4360-b81b-5ce6d9e2843d",
    "mediaKey": "d863aa7f-96b1-4bb5-9a36-dbc0ea6b9608"
  }
]]]></Value>
    </bannerImage>
    <contentAlign>
      <Value><![CDATA[[
  "Left"
]]]></Value>
    </contentAlign>
    <heading>
      <Value Culture="en-us"><![CDATA[Start Healing Your Mind,]]></Value>
    </heading>
    <headingEffectPart>
      <Value Culture="en-us"><![CDATA[<span class="ityped">Body &amp; Soul</span><span class="ityped-cursor">|</span>]]></Value>
    </headingEffectPart>
    <iconImage>
      <Value><![CDATA[[]]]></Value>
    </iconImage>
    <overImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "aa9effa9-cb45-4951-8163-8537e7d87349",
    "mediaKey": "41591e74-78b8-4ba0-bffc-93747cd169e6"
  }
]]]></Value>
    </overImage>
    <paragraph>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en-us"><![CDATA[Start a Happy Life]]></Value>
    </subHeading>
  </Properties>
</Content>