<?xml version="1.0" encoding="utf-8"?>
<Content Key="763de285-b3ab-4cb3-96d9-91506cc25548" Alias="Terms of use" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About BEHF</Parent>
    <Path>/Home/AboutBEHF/TermsOfUse</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2025-03-23T17:28:53</CreateDate>
    <NodeName Default="Terms of use">
      <Name Culture="en">Terms of use</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ef842aa87fdb42638c6f18183562ab4e",
        "areas": [
          {
            "key": "e5d4956f-0dee-4d69-8818-81d3e21a901d",
            "items": []
          },
          {
            "key": "42ec69d6-9960-4899-ab75-0f653558010c",
            "items": [
              {
                "contentUdi": "umb://element/df9c0eb2285341658d690ef9bb69055e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/35eea1154fbe477abe4da79368fb8d29",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f375bae4252b4783bc929184d0537678",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/093f390327534e868aa0324417cd8974",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8f088cdea2a7417792d7c57b7541dec2",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5010201-0383-4b6f-8bda-06141810c00d",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f8a5ecad-df5c-4e71-b97b-4b5bbe5b5c89",
      "udi": "umb://element/ef842aa87fdb42638c6f18183562ab4e"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Terms of Use",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<p>When accessing and using the BEHF Vietnam website, you agree to comply with the following terms of use:</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/df9c0eb2285341658d690ef9bb69055e"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "User rights and responsibilities",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li>Do not use the website for illegal purposes or to harm organizations and the community.</li>\n<li>Do not copy, edit or distribute content on the website without the consent of BEHF Vietnam.</li>\n<li>Provide accurate information when registering or participating in our programs.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/35eea1154fbe477abe4da79368fb8d29"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Intellectual property rights",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<ul>\n<li>All content on the BEHF Vietnam website (including text, images, teaching materials, videos) is owned by BEHF Vietnam and is protected by intellectual property law.</li>\n<li>Any act of copying, quoting or reusing content on the website requires written approval from BEHF Vietnam.</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/f375bae4252b4783bc929184d0537678"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Disclaimer",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<p>BEHF Vietnam is not responsible for any damages arising from the use of the website, including but not limited to technical errors, data loss or access interruptions.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/093f390327534e868aa0324417cd8974"
    },
    {
      "backgroundColor": "",
      "backgroundColorOpacity": "1",
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Changes to Terms",
      "highlightParagraph": "",
      "paragraph": {
        "markup": "<p>We reserve the right to update and change the terms of use without prior notice. Users should regularly monitor to ensure compliance with the latest regulations.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/8f088cdea2a7417792d7c57b7541dec2"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[[
  {
    "key": "bb89d653-53a1-4388-9e5d-e51f0ef03b0b",
    "mediaKey": "ac350093-0537-4db4-868b-1e832257f8dd"
  }
]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[Terms of Use]]></Value>
    </title>
  </Properties>
</Content>