<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3111908-7121-4de8-9eaf-53d616da16c7" Alias="Trainings" Level="4">
  <Info>
    <Parent Key="6179fe13-2e59-4c9e-ac40-62820e65c85e">For Businesses</Parent>
    <Path>/Home/Services/ForBusinesses/Trainings</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:24:42</CreateDate>
    <NodeName Default="Trainings">
      <Name Culture="en-us">Trainings</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[]]></Value>
    </contentLayout>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>