<?xml version="1.0" encoding="utf-8"?>
<Content Key="12e65d39-f030-4a72-b783-15c54ab807fe" Alias="Training Program" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/TrainingProgram</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:19:41</CreateDate>
    <NodeName Default="Training Program">
      <Name Culture="en">Training Program</Name>
      <Name Culture="vi">Chương Trình Đào Tạo</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cf0d4622cc7e46a583bc1d05d63c0857",
        "settingsUdi": "umb://element/1a7be4cf74684cecb4338234aec9cdcd",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/65129f432ca34f2a82a55a84ec7f9050",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c71db6d311d74198bc0e5f8bb44d0729",
        "settingsUdi": "umb://element/ce01f54b792b49d4a3f41aa533ce1153",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/84301f8d662d459eafc60f0c6fc88e02",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/970418c5f0104f749fc4aba9c9943dfb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/929a820b0c56456eaf7c4fb64b46ac69",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/c71db6d311d74198bc0e5f8bb44d0729"
    },
    {
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Comprehensive Training Solutions",
      "highlightParagraph": "BEHF is proud to offer comprehensive training solutions that help businesses and organizations achieve sustainable growth in today’s challenging environment.",
      "paragraph": {
        "markup": "<p>Our programs are not only designed for staff members but are also specially tailored to equip business owners and leadership teams with essential skills – the pioneers who lead their organizations through the challenges of the new era.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/84301f8d662d459eafc60f0c6fc88e02"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/cf0d4622cc7e46a583bc1d05d63c0857"
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "row"
      ],
      "heading": "Why is Meditation & Mindfulness an Essential Skill?",
      "iconPosition": [
        "top"
      ],
      "image": [],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/deec045f5de14fb3895f9e22f72763ce"
            },
            {
              "contentUdi": "umb://element/929e252497b449428412c2aff4109046"
            },
            {
              "contentUdi": "umb://element/b541bfadd4a242399f9e7e39260bc561"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Staff members",
            "iconImage": "",
            "paragraph": "Develop teamwork skills, enhance performance, and foster creativity.",
            "udi": "umb://element/deec045f5de14fb3895f9e22f72763ce"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Leaders and business owners",
            "iconImage": "",
            "paragraph": "Equip with emotional management skills, make wise decisions, and build sustainable strategies.",
            "udi": "umb://element/929e252497b449428412c2aff4109046"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Senior management",
            "iconImage": "",
            "paragraph": "Build consensus, effective collaboration, and improve leadership skills in high-pressure environments.",
            "udi": "umb://element/b541bfadd4a242399f9e7e39260bc561"
          }
        ],
        "settingsData": []
      },
      "paragraph": "",
      "subHeading": "",
      "udi": "umb://element/65129f432ca34f2a82a55a84ec7f9050"
    },
    {
      "contentTypeKey": "9e86d88b-33f0-4494-891e-8eebd28bc15c",
      "programsPicker": "umb://document/3936204229b442289275bceec9ec1b63,umb://document/82b5463b3fdf4483b15deb6b29a9e5a3,umb://document/316cbc0627784771bdc96c757fde8c40,umb://document/ffbea58aa8fe4864a7b4a99e801fa23d,umb://document/e63d56f32f1a4a10976a8108ade45494,umb://document/90bc139a93d34cd787fcbf527cdf5a1d,umb://document/bb6f1e55d131459395735b0a2cf22d35",
      "udi": "umb://element/970418c5f0104f749fc4aba9c9943dfb"
    },
    {
      "backgroundColor": "",
      "contentTypeKey": "c54a3193-de19-4c5a-b254-14a694c5853b",
      "selectedContent": "umb://document/c5f1d313db4a49eeb392d79844ed9cd7",
      "udi": "umb://element/929a820b0c56456eaf7c4fb64b46ac69"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": {
        "value": "0dcaf0",
        "label": "--bs-cyan-rgb",
        "sortOrder": 2,
        "id": "9"
      },
      "layoutBackgroundColorOpacity": "0.500",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/ce01f54b792b49d4a3f41aa533ce1153"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "",
      "layoutBackgroundColorShade": "",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/1a7be4cf74684cecb4338234aec9cdcd"
    }
  ]
}]]></Value>
      <Value Culture="vi"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ac7b70781bd842eb8338920a72883fe7",
        "settingsUdi": "umb://element/faa1732f5cb14235b6bba45f419b7b11",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/aae7c7da312d46e388c5cd50bb05d9bb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fbbb435a380f467c9985b1ae6908c1e3",
        "settingsUdi": "umb://element/b76c0c6876334f41927a873c0076a5de",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/fd8825aa3b4b4ccf94f35241467c135b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/fec4117e550b49499e779dbad3aab385",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/ac7b70781bd842eb8338920a72883fe7"
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "row"
      ],
      "heading": "Vì sao Thiền và Chánh niệm là Kỹ năng không thể thiếu?",
      "iconPosition": [
        "top"
      ],
      "image": [],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4ffa74cca72048de8823c03e145c955f"
            },
            {
              "contentUdi": "umb://element/a71f2db619e341e68802b1d256c89567"
            },
            {
              "contentUdi": "umb://element/9862486c483b4e14ba3f719acb3bb4a1"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Đội ngũ nhân viên",
            "iconImage": "",
            "paragraph": "Phát triển kỹ năng làm việc nhóm, tăng cường hiệu suất và sự sáng tạo.",
            "udi": "umb://element/4ffa74cca72048de8823c03e145c955f"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Nhà lãnh đạo và chủ doanh nghiệp",
            "iconImage": "",
            "paragraph": "Trang bị kỹ năng quản trị cảm xúc, ra quyết định sáng suốt, và xây dựng chiến lược bền vững.",
            "udi": "umb://element/a71f2db619e341e68802b1d256c89567"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Ban quản lý cấp cao",
            "iconImage": "",
            "paragraph": "Xây dựng sự đồng thuận, hợp tác hiệu quả và cải thiện khả năng lãnh đạo trong môi trường áp lực cao.",
            "udi": "umb://element/9862486c483b4e14ba3f719acb3bb4a1"
          }
        ],
        "settingsData": []
      },
      "paragraph": "",
      "subHeading": "",
      "udi": "umb://element/aae7c7da312d46e388c5cd50bb05d9bb"
    },
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/fbbb435a380f467c9985b1ae6908c1e3"
    },
    {
      "contentTypeKey": "4ac6dfe6-3e77-4ebb-b1d7-f73ee48847f4",
      "heading": "Các Chương Trình Đào Tạo Toàn Diện",
      "highlightParagraph": "BEHF tự hào cung cấp giải pháp đào tạo toàn diện, giúp doanh nghiệp và tổ chức phát triển bền vững trong môi trường đầy thách thức hiện nay.",
      "paragraph": {
        "markup": "<p>Các chương trình của chúng tôi không chỉ dành cho đội ngũ nhân viên, mà còn được thiết kế đặc biệt để trang bị những kỹ năng thiết yếu cho <strong>chủ doanh nghiệp</strong> và <strong>ban lãnh đạo</strong> - những người tiên phong trong việc dẫn dắt tổ chức vượt qua thử thách thời đại mới.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/fd8825aa3b4b4ccf94f35241467c135b"
    },
    {
      "contentTypeKey": "9e86d88b-33f0-4494-891e-8eebd28bc15c",
      "programsPicker": "umb://document/3936204229b442289275bceec9ec1b63,umb://document/82b5463b3fdf4483b15deb6b29a9e5a3,umb://document/316cbc0627784771bdc96c757fde8c40,umb://document/ffbea58aa8fe4864a7b4a99e801fa23d,umb://document/e63d56f32f1a4a10976a8108ade45494,umb://document/90bc139a93d34cd787fcbf527cdf5a1d,umb://document/bb6f1e55d131459395735b0a2cf22d35,umb://document/c5f1d313db4a49eeb392d79844ed9cd7",
      "udi": "umb://element/fec4117e550b49499e779dbad3aab385"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3d88bbdf96a44bedb3ee4154b7f2fb7a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_right_shape1"
            ],
            "hozPosition": [
              "left"
            ],
            "udi": "umb://element/3d88bbdf96a44bedb3ee4154b7f2fb7a",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/faa1732f5cb14235b6bba45f419b7b11"
    },
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d614b71727f4472d886ac2aa5cfce063"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": "",
            "figure": [
              "golden_5petal_flower_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/d614b71727f4472d886ac2aa5cfce063",
            "verPosition": [
              "top"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": {
        "value": "fd7e14",
        "label": "--bs-orange-rgb",
        "sortOrder": 6,
        "id": "12"
      },
      "layoutBackgroundColorOpacity": "0.375",
      "layoutBackgroundColorShade": "900",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/b76c0c6876334f41927a873c0076a5de"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[[
  {
    "key": "53ff27ec-7341-49e8-9a73-ce6d330dc172",
    "mediaKey": "28467387-af7f-4c7d-a80c-b83adbf34c51"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[BEHF's Training Program]]></Value>
      <Value Culture="vi"><![CDATA[Các Chương Trình Đào Tạo của BEHF]]></Value>
    </title>
  </Properties>
</Content>