<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc74f706-e71a-42b7-a605-373a7c93da59" Alias="Vision, Mission &amp; Values" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About BEHF</Parent>
    <Path>/Home/AboutBEHF/VisionMissionValues</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:16:37</CreateDate>
    <NodeName Default="Vision, Mission &amp; Values">
      <Name Culture="en">Vision, Mission &amp; Values</Name>
      <Name Culture="vi">Tầm nhìn, Sứ mệnh &amp; Giá trị</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f73eb449d9a743f4b7920e255e8c5983",
        "settingsUdi": "umb://element/beff7b8197f64c1b89c5d82902703b85",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/0f649373b664423695e3f2bf01791339",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/2035c101d4cd4d16bbfb220047585659",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3413a4a7131f4f62842a911791781a4d",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/f73eb449d9a743f4b7920e255e8c5983"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Our Vision",
      "highlightParagraph": "We aspire to spread joy and elevate awareness globally, fostering unity that transcends boundaries and connects humanity.",
      "image": [
        {
          "key": "5d97efe2-374b-451f-bee5-fbf44a7ee048",
          "mediaKey": "efd4be07-e5ec-41f3-8052-69ffd2ab372a"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "",
      "paragraph": {
        "markup": "<p>The Breath Energy Health Foundation envisions a world where individuals and communities thrive in peace and happiness through meditation and mindfulness.</p>\n<p>Our priority is to enhance the private sector's effectiveness, enabling it to significantly contribute to economic growth while prioritizing holistic health.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/0f649373b664423695e3f2bf01791339",
      "youtubeVideo": ""
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "row"
      ],
      "heading": "Our Mission",
      "iconPosition": [
        "top"
      ],
      "image": [
        {
          "key": "e58c02b5-d833-468a-a6f4-a3fa4bf04636",
          "mediaKey": "58f7420e-b3d3-4b0e-b748-73a475f563ce"
        }
      ],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/127f5536d04a42959c85fbff385767c2"
            },
            {
              "contentUdi": "umb://element/055eb7669b994e399117c0a072333f7b"
            },
            {
              "contentUdi": "umb://element/cdb35ae34d31486696dd9e1759f047c5"
            },
            {
              "contentUdi": "umb://element/0f305756af244059b23530701bf586c2"
            },
            {
              "contentUdi": "umb://element/b2aadca6ae264075a07d5f3010c2e80c"
            },
            {
              "contentUdi": "umb://element/6ac8bb50d2d646f3b9474ab9fb1a8824"
            },
            {
              "contentUdi": "umb://element/b73b235cae074b0bb9456c7e9ff400c2"
            },
            {
              "contentUdi": "umb://element/0237dc53e80747408f1d68de4643f5dd"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Cultivating harmony",
            "iconImage": [
              "holistic-harmony.svg"
            ],
            "paragraph": "by fostering balance within ourselves and with the world around us.",
            "udi": "umb://element/127f5536d04a42959c85fbff385767c2"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Promoting compassion",
            "iconImage": [
              "meditation-mind.svg"
            ],
            "paragraph": "and understanding towards all beings while upholding integrity in all our actions.",
            "udi": "umb://element/055eb7669b994e399117c0a072333f7b"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Unifying people",
            "iconImage": [
              "love-share.svg"
            ],
            "paragraph": "across families, organizations, and communities to nurture a sense of unity that supports inclusivity and cooperation.",
            "udi": "umb://element/cdb35ae34d31486696dd9e1759f047c5"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Inspiring empowerment",
            "iconImage": [
              "eye-palm.svg"
            ],
            "paragraph": "to help individuals realize their full potential and lead fulfilling lives characterized by happiness and peace.",
            "udi": "umb://element/0f305756af244059b23530701bf586c2"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Encouraging mindfulness",
            "iconImage": [
              "lotus-woman.svg"
            ],
            "paragraph": "to help individuals remain present in every moment while embracing innovation for continuous improvement in our practices.",
            "udi": "umb://element/b2aadca6ae264075a07d5f3010c2e80c"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Expressing gratitude",
            "iconImage": [
              "love-around.svg"
            ],
            "paragraph": "for the value of life and its experiences.",
            "udi": "umb://element/6ac8bb50d2d646f3b9474ab9fb1a8824"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Committing to sustainability",
            "iconImage": [
              "lotus-water.svg"
            ],
            "paragraph": "by protecting and nurturing the environment.",
            "udi": "umb://element/b73b235cae074b0bb9456c7e9ff400c2"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Address mental health issues",
            "iconImage": [
              "reforestation.svg"
            ],
            "paragraph": "and enhance the effectiveness of businesses/organizations and contributing positively to economic development.",
            "udi": "umb://element/0237dc53e80747408f1d68de4643f5dd"
          }
        ],
        "settingsData": []
      },
      "paragraph": {
        "markup": "<p>We are dedicated to empower individuals and organizations to unlock their potential through valuable knowledge and experiences in meditation and mindfulness.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "",
      "udi": "umb://element/2035c101d4cd4d16bbfb220047585659"
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "circle"
      ],
      "heading": "Core Values",
      "iconPosition": "",
      "image": [
        {
          "key": "80bbd01b-79fd-4c30-a768-b4705ec34801",
          "mediaKey": "58f7420e-b3d3-4b0e-b748-73a475f563ce"
        }
      ],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bcce36956bd043be96e663cce66413f2"
            },
            {
              "contentUdi": "umb://element/626d5b99ee6b4650a1e8e5a085827aff"
            },
            {
              "contentUdi": "umb://element/42fbf343aa144df3bd079244788d2486"
            },
            {
              "contentUdi": "umb://element/067ec6c7c9da455bab513a677276a05f"
            },
            {
              "contentUdi": "umb://element/8f442bcb7b484fb0b9a6317cd14a96cd"
            },
            {
              "contentUdi": "umb://element/459164c64df248eeb1170070548d2868"
            },
            {
              "contentUdi": "umb://element/5e8a433158e1469db987c8091653ef1a"
            },
            {
              "contentUdi": "umb://element/0d7dd707ba1643d9a070646323762204"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Harmony",
            "iconImage": [
              "holistic-harmony.svg"
            ],
            "paragraph": "Cultivating balance within oneself and with the surrounding world.",
            "udi": "umb://element/bcce36956bd043be96e663cce66413f2"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Unity",
            "iconImage": [
              "love-around.svg"
            ],
            "paragraph": "Promoting inclusivity and cooperation across diverse communities.",
            "udi": "umb://element/626d5b99ee6b4650a1e8e5a085827aff"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Mindfulness",
            "iconImage": [
              "meditation-mind.svg"
            ],
            "paragraph": "Encouraging awareness and presence in every moment.",
            "udi": "umb://element/42fbf343aa144df3bd079244788d2486"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Integrity",
            "iconImage": [
              "lotus-water.svg"
            ],
            "paragraph": "Upholding honesty and transparency in all actions.",
            "udi": "umb://element/067ec6c7c9da455bab513a677276a05f"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Compassion",
            "iconImage": [
              "love-share.svg"
            ],
            "paragraph": "Fostering empathy and understanding towards all beings.",
            "udi": "umb://element/8f442bcb7b484fb0b9a6317cd14a96cd"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Advancement",
            "iconImage": [
              "affection.svg"
            ],
            "paragraph": "Innovate sustainably for lasting impact.",
            "udi": "umb://element/459164c64df248eeb1170070548d2868"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Respect",
            "iconImage": [
              "flower.svg"
            ],
            "paragraph": "Appreciating the value of life and its experiences.",
            "udi": "umb://element/5e8a433158e1469db987c8091653ef1a"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Empowerment",
            "iconImage": [
              "eye-palm.svg"
            ],
            "paragraph": "Inspiring individuals to realize their full potential.",
            "udi": "umb://element/0d7dd707ba1643d9a070646323762204"
          }
        ],
        "settingsData": []
      },
      "paragraph": {
        "markup": "<p>Make a positive impact on individuals and communities.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "HUMICARE = HUMAN + CARE",
      "udi": "umb://element/3413a4a7131f4f62842a911791781a4d"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2c0aecb6eb644325aeccd6cb10467087"
            },
            {
              "contentUdi": "umb://element/3bdfa12c08cd4707b4d569a5ddcb00e9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/2c0aecb6eb644325aeccd6cb10467087",
            "verPosition": [
              "center"
            ]
          },
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-x"
            ],
            "figure": [
              "golden_5petal_flower_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/3bdfa12c08cd4707b4d569a5ddcb00e9",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/beff7b8197f64c1b89c5d82902703b85"
    }
  ]
}]]></Value>
      <Value Culture="vi"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/59e2ec40b17245d291e5cc85a26e7ff2"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/07a6d95da719432ba8bbcc7c0e9e98c8"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/d194df83360a49c3a46706f020c905c6"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e6fb54add67a4988bb7d50b34bab2fd1",
        "settingsUdi": "umb://element/7b87ee3d76f540a3932641dd8638f835"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/e6fb54add67a4988bb7d50b34bab2fd1"
    },
    {
      "actionLink": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Tầm Nhìn",
      "highlightParagraph": "Chúng tôi mong muốn lan tỏa niềm vui và nâng cao nhận thức trên toàn cầu, thúc đẩy sự thống nhất vượt qua ranh giới và kết nối nhân loại.",
      "image": [
        {
          "key": "5d97efe2-374b-451f-bee5-fbf44a7ee048",
          "mediaKey": "efd4be07-e5ec-41f3-8052-69ffd2ab372a"
        }
      ],
      "mediaOnRight": "0",
      "notUseJbtOuter": "0",
      "paragraph": {
        "markup": "<p>BEHF hướng tới một thế giới nơi các doanh nghiệp và tổ chức phát triển bền vững, hiệu quả và hài hòa thông qua việc tích hợp thiền và chánh niệm vào văn hóa làm việc.</p>\n<p>Chúng tôi đặt mục tiêu nâng cao năng lực lãnh đạo, cải thiện hiệu suất làm việc và xây dựng văn hóa hợp tác, từ đó tạo ra tác động tích cực cho con người, cộng đồng, và xã hội trên quy mô toàn cầu.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/59e2ec40b17245d291e5cc85a26e7ff2",
      "youtubeVideo": ""
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "row"
      ],
      "heading": "Sứ Mệnh",
      "iconPosition": [
        "top"
      ],
      "image": [
        {
          "key": "e58c02b5-d833-468a-a6f4-a3fa4bf04636",
          "mediaKey": "58f7420e-b3d3-4b0e-b748-73a475f563ce"
        }
      ],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a3bacbd309554188aee138826880b720"
            },
            {
              "contentUdi": "umb://element/ca4cfe80c00443a98a903421586750bd"
            },
            {
              "contentUdi": "umb://element/c70e04585d46406192ef1b2bc8a47fb3"
            },
            {
              "contentUdi": "umb://element/975dfb22e6d7488cb784ddf4fa6d000f"
            },
            {
              "contentUdi": "umb://element/216f3269a61b4ea1873a0ac2e7a80b54"
            },
            {
              "contentUdi": "umb://element/551687dca760426694b4b9847826f053"
            },
            {
              "contentUdi": "umb://element/c45991ec08854787bd0beee555455949"
            },
            {
              "contentUdi": "umb://element/88748caa1fc24c23892a013d50025eb0"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Nuôi dưỡng sự hài hòa",
            "iconImage": [
              "holistic-harmony.svg"
            ],
            "paragraph": "bằng cách tạo ra sự cân bằng bên trong và thế giới bên ngoài.",
            "udi": "umb://element/a3bacbd309554188aee138826880b720"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Nuôi dưỡng tình yêu thương và hiểu biết",
            "iconImage": [
              "meditation-mind.svg"
            ],
            "paragraph": "đối với vạn vật, đồng thời giữ gìn sự chính trực trong mọi hành động.",
            "udi": "umb://element/ca4cfe80c00443a98a903421586750bd"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Kết nối",
            "iconImage": [
              "love-share.svg"
            ],
            "paragraph": "mọi gia đình, tổ chức, cộng đồng để hướng tới hòa hợp và hợp tác.",
            "udi": "umb://element/c70e04585d46406192ef1b2bc8a47fb3"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Truyền cảm hứng trao quyền",
            "iconImage": [
              "eye-palm.svg"
            ],
            "paragraph": "cho các cá nhân để mỗi người có thể nhận thức đầy đủ tiềm năng của mình và sống một cuộc sống trọn vẹn, tràn ngập hạnh phúc và bình an.",
            "udi": "umb://element/975dfb22e6d7488cb784ddf4fa6d000f"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Khuyến khích thực hành chánh niệm",
            "iconImage": [
              "lotus-woman.svg"
            ],
            "paragraph": "để giúp mỗi người luôn hiện diện trong từng khoảnh khắc đồng thời tiếp thu những đổi mới để cải tiến liên tục.",
            "udi": "umb://element/216f3269a61b4ea1873a0ac2e7a80b54"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Nuôi dưỡng lòng biết ơn",
            "iconImage": [
              "love-around.svg"
            ],
            "paragraph": "về giá trị của cuộc sống và những trải nghiệm của cuộc sống.",
            "udi": "umb://element/551687dca760426694b4b9847826f053"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Cam kết phát triển bền vững",
            "iconImage": [
              "lotus-water.svg"
            ],
            "paragraph": "bằng cách bảo vệ và nuôi dưỡng môi trường.",
            "udi": "umb://element/c45991ec08854787bd0beee555455949"
          },
          {
            "boxShadow": "1",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Giải quyết các vấn đề về sức khỏe tâm thần",
            "iconImage": [
              "reforestation.svg"
            ],
            "paragraph": "nâng cao hiệu quả của các doanh nghiệp/tổ chức, đồng thời đóng góp tích cực vào sự phát triển kinh tế.",
            "udi": "umb://element/88748caa1fc24c23892a013d50025eb0"
          }
        ],
        "settingsData": []
      },
      "paragraph": {
        "markup": "<p>Đồng hành giúp các cá nhân và tổ chức khám phá tiềm năng của mình thông qua kiến thức và trải nghiệm về thiền và chánh niệm.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "",
      "udi": "umb://element/07a6d95da719432ba8bbcc7c0e9e98c8"
    },
    {
      "contentTypeKey": "83e6f05b-2396-4781-9956-24e2a4f3e804",
      "displayStyle": [
        "circle"
      ],
      "heading": "Giá Trị Cốt Lõi",
      "iconPosition": "",
      "image": [
        {
          "key": "80bbd01b-79fd-4c30-a768-b4705ec34801",
          "mediaKey": "58f7420e-b3d3-4b0e-b748-73a475f563ce"
        }
      ],
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3382f5a06e23404c89dd62d429584b06"
            },
            {
              "contentUdi": "umb://element/c570c94d83c64f7fbc1453b9a77b916b"
            },
            {
              "contentUdi": "umb://element/885e0717cade421287fb38ea3a021616"
            },
            {
              "contentUdi": "umb://element/002d9449e6fb4d2d9a3536d76f689924"
            },
            {
              "contentUdi": "umb://element/cc13723ffda04b87a8924d55992699d2"
            },
            {
              "contentUdi": "umb://element/821e7013402447658be6f9c2c5c7129b"
            },
            {
              "contentUdi": "umb://element/b7b9d809d9594bb39ac7c02c7eaa2c7b"
            },
            {
              "contentUdi": "umb://element/49ebcb22ce1142a49021b3c71949f7df"
            }
          ]
        },
        "contentData": [
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Hài hòa",
            "iconImage": [
              "holistic-harmony.svg"
            ],
            "paragraph": "Mang lại sự cân bằng bên trong với thế giới bên ngoài.",
            "udi": "umb://element/3382f5a06e23404c89dd62d429584b06"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Đoàn kết",
            "iconImage": [
              "love-around.svg"
            ],
            "paragraph": "Thúc đẩy sự bao dung và hợp tác giữa các cộng đồng đa dạng.",
            "udi": "umb://element/c570c94d83c64f7fbc1453b9a77b916b"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Chánh niệm",
            "iconImage": [
              "meditation-mind.svg"
            ],
            "paragraph": "Khuyến khích sự nhận thức và hiện diện trong từng khoảnh khắc.",
            "udi": "umb://element/885e0717cade421287fb38ea3a021616"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Chính trực",
            "iconImage": [
              "lotus-water.svg"
            ],
            "paragraph": "Giữ gìn sự trung thực và minh bạch trong tất cả hành động.",
            "udi": "umb://element/002d9449e6fb4d2d9a3536d76f689924"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Tình yêu thương",
            "iconImage": [
              "love-share.svg"
            ],
            "paragraph": "Nuôi dưỡng sự đồng cảm và hiểu biết đối với vạn vật.",
            "udi": "umb://element/cc13723ffda04b87a8924d55992699d2"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Tiến bộ",
            "iconImage": [
              "affection.svg"
            ],
            "paragraph": "Thúc đẩy sự đổi mới bền vững để tạo ra tác động lâu dài.",
            "udi": "umb://element/821e7013402447658be6f9c2c5c7129b"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Tôn trọng",
            "iconImage": [
              "flower.svg"
            ],
            "paragraph": "Trân trọng mọi giá trị và trải nghiệm của cuộc sống.",
            "udi": "umb://element/b7b9d809d9594bb39ac7c02c7eaa2c7b"
          },
          {
            "boxShadow": "0",
            "contentTypeKey": "cce63ab6-4e56-4a76-b794-33d72007063d",
            "heading": "Trao quyền",
            "iconImage": [
              "eye-palm.svg"
            ],
            "paragraph": "Truyền cảm hứng để các cá nhân nhận thức được tiềm năng tối đa của mình.",
            "udi": "umb://element/49ebcb22ce1142a49021b3c71949f7df"
          }
        ],
        "settingsData": []
      },
      "paragraph": {
        "markup": "<p>Tạo ra tác động tích cực đối với các cá nhân và cộng đồng.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "subHeading": "HUMICARE = HUMAN + CARE",
      "udi": "umb://element/d194df83360a49c3a46706f020c905c6"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e8894caacc9d4bf6b0068cb30055c46c"
            },
            {
              "contentUdi": "umb://element/22a24a145e9f4b57a5b8bdbe3a73d7ed"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": "",
            "figure": [
              "golden_5petal_flower_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/e8894caacc9d4bf6b0068cb30055c46c",
            "verPosition": [
              "center"
            ]
          },
          {
            "contentTypeKey": "5449ace8-eade-442d-82c5-098b2d6c0e16",
            "effect": [
              "mover-y-x15"
            ],
            "figure": [
              "golden_treebranch_left_shape1"
            ],
            "hozPosition": [
              "right"
            ],
            "udi": "umb://element/22a24a145e9f4b57a5b8bdbe3a73d7ed",
            "verPosition": [
              "bottom"
            ]
          }
        ],
        "settingsData": []
      },
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "1",
      "layoutBackgroundColorShade": "500",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/7b87ee3d76f540a3932641dd8638f835"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[[
  {
    "key": "6c78402d-bd34-4b36-9fc4-f1411747b78a",
    "mediaKey": "4f4d1755-2810-4241-b37c-80d2e25ee190"
  }
]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="vi"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[[]]]></Value>
      <Value Culture="vi"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[Our Vision, Mission & Core Values]]></Value>
      <Value Culture="vi"><![CDATA[Tầm Nhìn, Sứ Mệnh & Giá Trị Cốt Lõi]]></Value>
    </title>
  </Properties>
</Content>