<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc74f706-e71a-42b7-a605-373a7c93da59" Alias="Vision, Mission &amp; Values" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About BEHF</Parent>
    <Path>/Home/AboutBEHF/VisionMissionValues</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:16:37</CreateDate>
    <NodeName Default="Vision, Mission &amp; Values">
      <Name Culture="en-us">Vision, Mission &amp; Values</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6c78402d-bd34-4b36-9fc4-f1411747b78a",
    "mediaKey": "4f4d1755-2810-4241-b37c-80d2e25ee190"
  }
]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[Our Vision, Mission and Core Values]]></Value>
    </title>
  </Properties>
</Content>