<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc74f706-e71a-42b7-a605-373a7c93da59" Alias="Vision, Mission &amp; Values" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About BEHF</Parent>
    <Path>/Home/AboutBEHF/VisionMissionValues</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:16:37</CreateDate>
    <NodeName Default="Vision, Mission &amp; Values">
      <Name Culture="en-us">Vision, Mission &amp; Values</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f73eb449d9a743f4b7920e255e8c5983",
        "settingsUdi": "umb://element/beff7b8197f64c1b89c5d82902703b85",
        "areas": [
          {
            "key": "c4b3726a-9414-45f6-a061-4d5509bc7a72",
            "items": [
              {
                "contentUdi": "umb://element/0f649373b664423695e3f2bf01791339",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fe26a33e-9f64-4725-954d-dc75d53f5114",
      "udi": "umb://element/f73eb449d9a743f4b7920e255e8c5983"
    },
    {
      "actionUrl": "",
      "contentTypeKey": "6bfd106c-7558-496b-829c-992ecaaf9c73",
      "heading": "Our Vision",
      "highlightParagraph": "We aspire to spread joy and elevate awareness globally, fostering unity that transcends boundaries and connects humanity.",
      "iconImage": [],
      "image": [
        {
          "key": "5d97efe2-374b-451f-bee5-fbf44a7ee048",
          "mediaKey": "efd4be07-e5ec-41f3-8052-69ffd2ab372a"
        }
      ],
      "mediaOnRight": "0",
      "paragraph": {
        "markup": "<p>The Breath Energy Health Foundation envisions a world where individuals and communities thrive in peace and happiness through meditation and mindfulness.</p>\n<p>Our priority is to enhance the private sector's effectiveness, enabling it to significantly contribute to economic growth while prioritizing holistic health.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "shadowRichtext": "0",
      "showIcon": "0",
      "subHeading": "",
      "udi": "umb://element/0f649373b664423695e3f2bf01791339",
      "youtubeVideo": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e40dc2c5-e4e4-4641-a53d-e1ffbd5ffb16",
      "figures": "",
      "layoutBackgroundColor": "",
      "layoutBackgroundColorOpacity": "",
      "layoutBackgroundColorShade": "",
      "layoutBackgroundCss": "",
      "layoutBackgroundImage": [],
      "udi": "umb://element/beff7b8197f64c1b89c5d82902703b85"
    }
  ]
}]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6c78402d-bd34-4b36-9fc4-f1411747b78a",
    "mediaKey": "4f4d1755-2810-4241-b37c-80d2e25ee190"
  }
]]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en-us"><![CDATA[Our Vision, Mission and Core Values]]></Value>
    </title>
  </Properties>
</Content>