<?xml version="1.0" encoding="utf-8"?>
<Content Key="322ee4dc-4914-4152-97c4-49cbb79ee52f" Alias="Who We are" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/WhoWeAre</Path>
    <Trashed Parent="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">true</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:16:06</CreateDate>
    <NodeName Default="Who We are">
      <Name Culture="en">Who We are</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>