<?xml version="1.0" encoding="utf-8"?>
<Content Key="929d7ea1-d990-4f16-8073-76f75866a898" Alias="Business Courses" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/BusinessCourses</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2025-01-21T01:09:11</CreateDate>
    <NodeName Default="Business Courses" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>