<?xml version="1.0" encoding="utf-8"?>
<Content Key="0879b890-a9dc-4a49-9eb4-1d6bb494ab9c" Alias="Collaboration" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/Collaboration</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:19:56</CreateDate>
    <NodeName Default="Collaboration">
      <Name Culture="en">Collaboration</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>