<?xml version="1.0" encoding="utf-8"?>
<Content Key="87e70f7d-9e7c-414d-9708-68228286e0f6" Alias="Comprehensive Health Happiness" Level="3">
  <Info>
    <Parent Key="80dd9052-df7c-4258-9958-5ccc0c5e7015">Community</Parent>
    <Path>/Home/Community/ComprehensiveHealthHappiness</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2025-01-17T00:16:47</CreateDate>
    <NodeName Default="Comprehensive Health Happiness" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>