<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c5027fe-d648-4868-8954-f7d05f43a942" Alias="Drop-In Groups" Level="4">
  <Info>
    <Parent Key="6900d760-4b8f-42a1-af7c-21f45ac98268">For Community</Parent>
    <Path>/Home/Services/ForCommunity/DropInGroups</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:24:58</CreateDate>
    <NodeName Default="Drop-In Groups">
      <Name Culture="en">Drop-In Groups</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>