<?xml version="1.0" encoding="utf-8"?>
<Content Key="4539c670-2fc8-42c5-89d4-7dacd4f1fa6c" Alias="Family Programs" Level="4">
  <Info>
    <Parent Key="6900d760-4b8f-42a1-af7c-21f45ac98268">For Community</Parent>
    <Path>/Home/Services/ForCommunity/FamilyPrograms</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:25:19</CreateDate>
    <NodeName Default="Family Programs">
      <Name Culture="en">Family Programs</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>