<?xml version="1.0" encoding="utf-8"?>
<Content Key="6900d760-4b8f-42a1-af7c-21f45ac98268" Alias="For Community" Level="3">
  <Info>
    <Parent Key="12e65d39-f030-4a72-b783-15c54ab807fe">Services</Parent>
    <Path>/Home/Services/ForCommunity</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2024-12-26T00:21:35</CreateDate>
    <NodeName Default="For Community" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>