<?xml version="1.0" encoding="utf-8"?>
<Content Key="4511b1c8-65b4-4d9c-8f0b-deadffec846c" Alias="Hero Banners" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/HeroBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2024-12-29T11:57:30</CreateDate>
    <NodeName Default="Hero Banners" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>