<?xml version="1.0" encoding="utf-8"?>
<Content Key="437d8cf5-54d2-448e-bfd6-f570f29507ae" Alias="Mindfulness" Level="3">
  <Info>
    <Parent Key="4511b1c8-65b4-4d9c-8f0b-deadffec846c">Hero Banners</Parent>
    <Path>/Home/HeroBanners/Mindfulness</Path>
    <Trashed>false</Trashed>
    <ContentType>heroBannerBlock</ContentType>
    <CreateDate>2024-12-29T12:06:48</CreateDate>
    <NodeName Default="Mindfulness">
      <Name Culture="en">Mindfulness</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <actionLink>
      <Value Culture="en"><![CDATA[]]></Value>
    </actionLink>
    <actionUrl>
      <Value><![CDATA[]]></Value>
    </actionUrl>
    <bannerColor>
      <Value><![CDATA[]]></Value>
    </bannerColor>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "3c3fa3f5-429e-4bd0-a39b-72aa9cae0303",
    "mediaKey": "7f2d0026-62dc-46b8-8a49-ba2eab2d33ea"
  }
]]]></Value>
    </bannerImage>
    <contentAlign>
      <Value><![CDATA[[
  "Left"
]]]></Value>
    </contentAlign>
    <heading>
      <Value Culture="en"><![CDATA[Mindfulness is alert and awake]]></Value>
    </heading>
    <headingEffectPart>
      <Value Culture="en"><![CDATA[]]></Value>
    </headingEffectPart>
    <iconImage>
      <Value><![CDATA[[]]]></Value>
    </iconImage>
    <overImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </overImage>
    <paragraph>
      <Value Culture="en"><![CDATA[{
  "markup": "<p><strong>In mindfulness one is not only restful and happy, but alert and awake. Meditation is not evasion; it is a serene encounter with reality.</strong></p>\n<p><strong><em><span style=\"text-decoration: underline;\">Thich Nhat Hanh</span> (2016)</em></strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </paragraph>
    <subHeading>
      <Value Culture="en"><![CDATA[]]></Value>
    </subHeading>
  </Properties>
</Content>