<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d0ea7b6-037e-4e65-86e6-99a7ca02dd54" Alias="Ms Zainab" Level="3">
  <Info>
    <Parent Key="03834c3d-92ea-4182-aa60-b70a12c5d4d8">Testimonials</Parent>
    <Path>/Home/Testimonials/MsZainab</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2025-02-11T11:29:34</CreateDate>
    <NodeName Default="Ms Zainab">
      <Name Culture="en">Ms Zainab</Name>
      <Name Culture="vi">Ms Zainab</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en">true</Published>
      <Published Culture="vi">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <feedback>
      <Value Culture="en"><![CDATA[My search came to an end when I met Master Pradeep. Not knowing anything about him yet it took me just few seconds to connect with him on our first short interaction on the airport of Ladhak. My conscious told me to get connected with him and be fellow walker; little did I know that he will be the Halogen bulb to what I am seeking. I am very happy and convinced with him on the science of meditation.
Today I proudly stand in his team and fallowing his instructions and insights to evolve a better myself.]]></Value>
      <Value Culture="vi"><![CDATA[Cuộc tìm kiếm của tôi đã kết thúc khi tôi gặp được Thầy Pradeep. Mặc dù chưa biết gì về thầy nhưng tôi chỉ mất vài giây để kết nối với thầy trong lần tương tác ngắn ngủi đầu tiên của chúng tôi tại sân bay Ladhak. Ý thức của tôi mách bảo tôi hãy kết nối với thầy và trở thành người bạn đồng hành; tôi không ngờ rằng thầy sẽ là bóng đèn Halogen cho những gì tôi đang tìm kiếm. Tôi rất vui và tin tưởng thầy về khoa học thiền định.
Hôm nay, tôi tự hào đứng trong nhóm của thầy và làm theo chỉ dẫn và hiểu biết sâu sắc của thầy để phát triển bản thân tốt hơn.]]></Value>
    </feedback>
    <image>
      <Value><![CDATA[[
  {
    "key": "f8af242c-1cb4-4d08-ac6c-ce7d292d04b0",
    "mediaKey": "00e3a0f8-36b1-46c4-aef2-35b65fc2e08b"
  }
]]]></Value>
    </image>
    <organization>
      <Value Culture="en"><![CDATA[Graphic Artist]]></Value>
      <Value Culture="vi"><![CDATA[Họa sĩ Đồ họa]]></Value>
    </organization>
    <personName>
      <Value Culture="en"><![CDATA[Ms Zainab]]></Value>
      <Value Culture="vi"><![CDATA[Chị Zainab]]></Value>
    </personName>
  </Properties>
</Content>