<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a17cc91-ce6a-4cc5-8aa2-03eed6ea4f9b" Alias="Our Enlightener" Level="3">
  <Info>
    <Parent Key="e4433d26-7cfe-40ef-9007-0febac171150">Our Team</Parent>
    <Path>/Home/OurTeam/OurEnlightener</Path>
    <Trashed>false</Trashed>
    <ContentType>instructorInfo</ContentType>
    <CreateDate>2025-01-15T02:24:29</CreateDate>
    <NodeName Default="Our Enlightener" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <avatarImage>
      <Value><![CDATA[[
  {
    "key": "fdd60dd3-25c0-4269-abf2-ba7ef213c837",
    "mediaKey": "8b39a329-fc73-41e0-b1d5-d35a0e302377"
  }
]]]></Value>
    </avatarImage>
    <normalName>
      <Value><![CDATA[Master Pradeep Vijay]]></Value>
    </normalName>
  </Properties>
</Content>