<?xml version="1.0" encoding="utf-8"?>
<Content Key="192327f3-94d9-49f6-8f14-afc32bea556d" Alias="Our Instructors &amp; Experts" Level="3">
  <Info>
    <Parent Key="fa47c23d-2cd4-401f-a6be-f0a81d9d8be4">About BEHF</Parent>
    <Path>/Home/AboutBEHF/OurInstructorsExperts</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2024-12-26T00:17:47</CreateDate>
    <NodeName Default="Our Instructors &amp; Experts">
      <Name Culture="en">Our Instructors &amp; Experts</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="en">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentLayout>
      <Value Culture="en"><![CDATA[]]></Value>
    </contentLayout>
    <heroBanner>
      <Value Culture="en"><![CDATA[]]></Value>
    </heroBanner>
    <keywords>
      <Value Culture="en"><![CDATA[]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en"><![CDATA[]]></Value>
    </metaDescription>
    <pageBackgroundImage>
      <Value Culture="en"><![CDATA[]]></Value>
    </pageBackgroundImage>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <title>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>