<?xml version="1.0" encoding="utf-8"?>
<Content Key="74465414-500e-4c1d-8051-4509c9d2891f" Alias="Session3" Level="4">
  <Info>
    <Parent Key="87e70f7d-9e7c-414d-9708-68228286e0f6">Comprehensive Health Happiness</Parent>
    <Path>/Home/Community/ComprehensiveHealthHappiness/Session3</Path>
    <Trashed>false</Trashed>
    <ContentType>activityPage</ContentType>
    <CreateDate>2025-01-17T00:15:34</CreateDate>
    <NodeName Default="Session3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activityType>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </activityType>
    <description>
      <Value><![CDATA[{
  "markup": "<p>The nature of karma and disease. The importance of meditation.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <details>
      <Value><![CDATA[]]></Value>
    </details>
    <endDate>
      <Value><![CDATA[]]></Value>
    </endDate>
    <endTime>
      <Value><![CDATA[2025-01-15T22:30:00]]></Value>
    </endTime>
    <images>
      <Value><![CDATA[[
  {
    "key": "da8da853-7847-488a-a17f-91c253907ef2",
    "mediaKey": "75967c66-39fe-40f0-82eb-e1c6c0ced482"
  }
]]]></Value>
    </images>
    <instructor>
      <Value><![CDATA[umb://document/2a17cc91ce6a4cc58aa203eed6ea4f9b]]></Value>
    </instructor>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <location>
      <Value><![CDATA[Zoom Meeting]]></Value>
    </location>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <startDate>
      <Value><![CDATA[2025-01-12T00:00:00]]></Value>
    </startDate>
    <startTime>
      <Value><![CDATA[2025-01-15T21:00:00]]></Value>
    </startTime>
    <targetObjects>
      <Value><![CDATA[[
  "Community"
]]]></Value>
    </targetObjects>
    <timeNote>
      <Value><![CDATA[This session is 90 minutes long]]></Value>
    </timeNote>
    <title>
      <Value><![CDATA[Session 3: The nature of karma and disease ]]></Value>
    </title>
  </Properties>
</Content>