<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3b63e0b-81d5-4218-873d-8a20e452127d" Alias="Session1" Level="4">
  <Info>
    <Parent Key="87e70f7d-9e7c-414d-9708-68228286e0f6">Comprehensive Health Happiness</Parent>
    <Path>/Home/Community/ComprehensiveHealthHappiness/Session1</Path>
    <Trashed>false</Trashed>
    <ContentType>activityPage</ContentType>
    <CreateDate>2025-01-15T01:47:28</CreateDate>
    <NodeName Default="Session1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activityType>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </activityType>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Health is not just physical health, but also includes Mental, Emotional, Spiritual and Social health.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <details>
      <Value><![CDATA[]]></Value>
    </details>
    <endDate>
      <Value><![CDATA[]]></Value>
    </endDate>
    <endTime>
      <Value><![CDATA[2025-01-15T22:30:00]]></Value>
    </endTime>
    <images>
      <Value><![CDATA[[
  {
    "key": "53b938bd-784c-4770-8855-b7e4ee55b0aa",
    "mediaKey": "b8a15aa5-0ac8-466f-8acb-f5e3680ef7ba"
  }
]]]></Value>
    </images>
    <instructor>
      <Value><![CDATA[umb://document/2a17cc91ce6a4cc58aa203eed6ea4f9b]]></Value>
    </instructor>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <location>
      <Value><![CDATA[Zoom Meeting]]></Value>
    </location>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <startDate>
      <Value><![CDATA[2025-01-10T00:00:00]]></Value>
    </startDate>
    <startTime>
      <Value><![CDATA[2025-01-15T21:00:00]]></Value>
    </startTime>
    <targetObjects>
      <Value><![CDATA[[
  "Community"
]]]></Value>
    </targetObjects>
    <timeNote>
      <Value><![CDATA[This session is 90 minutes long]]></Value>
    </timeNote>
    <title>
      <Value><![CDATA[Session 1: Health is not just physical health]]></Value>
    </title>
  </Properties>
</Content>