<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9d0e41d-3e3f-4324-9e97-8dfa7b0e834c" Alias="Session2" Level="4">
  <Info>
    <Parent Key="87e70f7d-9e7c-414d-9708-68228286e0f6">Comprehensive Health Happiness</Parent>
    <Path>/Home/Community/ComprehensiveHealthHappiness/Session2</Path>
    <Trashed>false</Trashed>
    <ContentType>activityPage</ContentType>
    <CreateDate>2025-01-17T00:15:19</CreateDate>
    <NodeName Default="Session2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activityType>
      <Value><![CDATA[[
  "Event"
]]]></Value>
    </activityType>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Understand the root of disease: negative emotions, false beliefs and unhealthy living environments.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <details>
      <Value><![CDATA[]]></Value>
    </details>
    <endDate>
      <Value><![CDATA[]]></Value>
    </endDate>
    <endTime>
      <Value><![CDATA[2025-01-15T22:30:00]]></Value>
    </endTime>
    <images>
      <Value><![CDATA[[
  {
    "key": "b8daf3c8-9157-4d60-a302-6557b0d3c68a",
    "mediaKey": "fe66874b-312a-4009-98c3-c9d2cf3a2795"
  }
]]]></Value>
    </images>
    <instructor>
      <Value><![CDATA[umb://document/2a17cc91ce6a4cc58aa203eed6ea4f9b]]></Value>
    </instructor>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <location>
      <Value><![CDATA[Zoom Meeting]]></Value>
    </location>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <startDate>
      <Value><![CDATA[2025-01-11T00:00:00]]></Value>
    </startDate>
    <startTime>
      <Value><![CDATA[2025-01-15T21:00:00]]></Value>
    </startTime>
    <targetObjects>
      <Value><![CDATA[[
  "Community"
]]]></Value>
    </targetObjects>
    <timeNote>
      <Value><![CDATA[This session is 90 minutes long]]></Value>
    </timeNote>
    <title>
      <Value><![CDATA[Session 2: Holistic health is a transformation from within ]]></Value>
    </title>
  </Properties>
</Content>