<?xml version="1.0" encoding="utf-8"?>
<Content Key="4edbc70f-1731-47a3-8e3b-1be7a762639d" Alias="Statuscodes" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/Statuscodes</Path>
    <Trashed>false</Trashed>
    <ContentType>statusCodePage</ContentType>
    <CreateDate>2025-01-22T09:58:00</CreateDate>
    <NodeName Default="Statuscodes" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>