<?xml version="1.0" encoding="utf-8"?>
<Content Key="03834c3d-92ea-4182-aa60-b70a12c5d4d8" Alias="Testimonials" Level="2">
  <Info>
    <Parent Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">Home</Parent>
    <Path>/Home/Testimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>folderPage</ContentType>
    <CreateDate>2025-02-10T16:20:59</CreateDate>
    <NodeName Default="Testimonials" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>