/*
  NOTE: use _ in name of classes
  current purple: #764979;
  Dark purple: #612d91 rgb(97,45,145)
  Light purple: #8968ad rgb(137,104,173)
*/

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

/*can use "mt" instead???*/
.site-footer {
  margin: 0 0;
}

.section-block {
  margin: 0 0;
}

.section-hero__cnt .ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
  .section-hero__cnt h1 span {
    color: #e1ccad;
    border-right: #e1ccad;
  }

.breadcrumb li a, .breadcrumb li {
  font-weight: 600;
}
/*.breadcrumb-item *, .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  text-decoration: none;
}*/

.site-navbar .navbar-nav .nav-item .nav-link {
  font-weight: 800;
}
.site-navbar .navbar-nav .dropdown-menu ul.menu-level-2 > li > a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
}

.contact-info {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}
  .contact-info li i {
    min-width: 1.25rem;
    display: inline-block;
    margin: 0 .75rem 0 0;
    text-align: center;
    color: #764979;
  }
  .contact-info address {
    display: inline;
  }

.highlight-text_wrapper {
  position: relative;
  color: #764979;
}
  .highlight-text_wrapper h6 {
    margin-left: 12px;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
  .highlight-text_wrapper .vertical-line {
    position: absolute;
    left: 0;
    top: 5px;
  }

.share-icons ul {
  padding-left: 0;
  padding-right: 4px;
}

.card-jbt-mda {
  padding: 0 1.3rem 1.3rem 0;
}