/*
  NOTE: use _ in name of classes

*/

.section-hero__cnt .ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
  .section-hero__cnt h1 span {
    color: #e1ccad;
    border-right: #e1ccad;
  }