h1,.h1{
    margin: 0 0 $h1-margin;
}
h2,.h2{
    margin: 0 0 $h2-margin;
}
h3,.h3{
    margin: 0 0 $h3-margin;
}
h4,.h4{
    margin: 0 0 $h4-margin;
}
h5,.h5{
    margin: 0 0 $h5-margin;
}
h6,.h6{
    margin: 0 0 $h6-margin;
}
h5,.h5,h6,.h6{
    font-family: $font-family-base;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-md{
    font-size: $font-size-base * 1.125;
}
.text-lg{
    font-size: $font-size-base * 1.125;
    @include media-breakpoint-up(lg){
        font-size: $font-size-base * 1.25;
    }
}
.text-xl{
    font-size: $font-size-base * 1.25;
    @include media-breakpoint-up(lg){
        font-size: $font-size-base * 1.75;
    }
}
