<?xml version="1.0" encoding="utf-8"?>
<Domain Key="3195fb7f-0000-0000-0000-000000000000" Alias="http://behf.local/vi/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>vi</Language>
    <Root Key="65195fcd-ba87-4939-9e7d-aabb8d3d6e76">/Home</Root>
    <SortOrder>3</SortOrder>
  </Info>
</Domain>