<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8678600c-623f-444b-87e6-e3695481628e" Alias="callToActionBlock" Level="2">
  <Info>
    <Name>Call To Action Block</Name>
    <Icon>icon-tactics color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="b8535a59-95e6-425e-a4c7-fac9bec25ade">blockSettings</Composition>
      <Composition Key="3166cb5a-4073-4d5c-be90-c72c0edfdaa3">commonContentBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d449ee00-72de-461a-a2c6-60bbb84de6ae</Key>
      <Name>action Link</Name>
      <Alias>actionLink</Alias>
      <Definition>cb18a87a-109a-490a-b131-32127a5b04a4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3f9b8c61-cd20-4a7e-9f85-b44b08f18963</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>