<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6671375f-c95e-408d-9107-91648a174db7" Alias="folderPage" Level="2">
  <Info>
    <Name>Folder Page</Name>
    <Icon>icon-folder-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b3f60e4-bf28-48b1-91f1-519f818d5bd7" SortOrder="0">articlePage</ContentType>
    <ContentType Key="d0b80bce-8609-4d27-ae75-f7468ab69dc3" SortOrder="1">generalPage</ContentType>
    <ContentType Key="859f47c9-d83a-4140-9eb9-a6a5e136b976" SortOrder="2">heroBannerBlock</ContentType>
    <ContentType Key="3dbde7cc-f785-4310-8403-0ad559801625" SortOrder="3">activityPage</ContentType>
    <ContentType Key="342131c9-dbd7-4c79-b735-90bbc69c7cd0" SortOrder="4">instructorInfo</ContentType>
    <ContentType Key="6671375f-c95e-408d-9107-91648a174db7" SortOrder="5">folderPage</ContentType>
    <ContentType Key="96363cb7-9a2c-41cb-b066-cde9523d0573" SortOrder="6">testimonial</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>