<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0b80bce-8609-4d27-ae75-f7468ab69dc3" Alias="generalPage" Level="2">
  <Info>
    <Name>General Page</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="80971994-1830-4af2-b4c3-63192823ba5b">pageBase</Composition>
      <Composition Key="4e01c091-f85f-4f38-992f-51d5aee8e58e">pageContentLayout</Composition>
      <Composition Key="3cc277a2-be53-488f-9b24-9682ff03bee0">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38f756ec-4d37-439b-bf3c-76d9cf75655e">GeneralPage</Template>
      <Template Key="a7ee4ce6-ac44-446c-bc0e-3dbff09071f9">GeneralPageh</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6671375f-c95e-408d-9107-91648a174db7" SortOrder="0">folderPage</ContentType>
    <ContentType Key="d0b80bce-8609-4d27-ae75-f7468ab69dc3" SortOrder="1">generalPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>