<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="342131c9-dbd7-4c79-b735-90bbc69c7cd0" Alias="instructorInfo" Level="2">
  <Info>
    <Name>Instructor Info</Name>
    <Icon>icon-operator color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions>
      <Composition Key="959f190c-18dd-424c-87d9-84b321d26b54">personData</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>