<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e920e391-23ad-4079-b8c2-d2e9878f7097" Alias="pageNotFound" Level="2">
  <Info>
    <Name>Page Not Found</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>PageNotFound</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d9fc00ff-2689-4355-8a1d-188f75fc8c7d">PageNotFound</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>