<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67239d10-2d3a-49f5-90df-02e5113c4c3e" Alias="statusCodePage" Level="2">
  <Info>
    <Name>StatusCode Page</Name>
    <Icon>icon-footprints color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e920e391-23ad-4079-b8c2-d2e9878f7097" SortOrder="0">pageNotFound</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>