<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc01f01f-435b-49d6-886c-1010f0c833db" Alias="13404867 5229368 W800" Level="2">
  <Info>
    <Parent Key="13ba025b-7575-4a3d-9395-1cb645cfb231">Training Programs</Parent>
    <Path>/TrainingPrograms/W800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-20T17:31:08</CreateDate>
    <NodeName Default="13404867 5229368 W800" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dhyadtc1/13404867_5229368_w800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>