<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c110e1e-1935-468e-a01d-64e43046e63e" Alias="1938035 256452 P4RU0T 506 W800" Level="2">
  <Info>
    <Parent Key="13ba025b-7575-4a3d-9395-1cb645cfb231">Training Programs</Parent>
    <Path>/TrainingPrograms/P4RU0T506W800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-20T17:40:17</CreateDate>
    <NodeName Default="1938035 256452 P4RU0T 506 W800" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dahbctbv/1938035_256452-p4ru0t-506_w800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>