<?xml version="1.0" encoding="utf-8"?>
<Media Key="28467387-af7f-4c7d-a80c-b83adbf34c51" Alias="1968996 1800" Level="2">
  <Info>
    <Parent Key="9cc0b54b-46d9-492f-b3f0-712ea3432c33">Background</Parent>
    <Path>/Background/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-19T17:55:26</CreateDate>
    <NodeName Default="1968996 1800" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qfzfmkd5/1968996_1800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>