<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fe1f086-8755-4888-9501-43273f006252" Alias="20191107 1000X500" Level="2">
  <Info>
    <Parent Key="59b0816c-43f2-4f54-b7c3-63436b160b14">About Us</Parent>
    <Path>/AboutUs/X500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-22T13:47:21</CreateDate>
    <NodeName Default="20191107 1000X500" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qdyoc50v/20191107_1000x500.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>