<?xml version="1.0" encoding="utf-8"?>
<Media Key="43b849cc-d3a7-492d-ac65-547c46a7b99d" Alias="4167275 18770 W800" Level="2">
  <Info>
    <Parent Key="13ba025b-7575-4a3d-9395-1cb645cfb231">Training Programs</Parent>
    <Path>/TrainingPrograms/W800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-20T17:52:44</CreateDate>
    <NodeName Default="4167275 18770 W800" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zjelqq3h/4167275_18770_w800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>