<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0a15e7f-d320-4d66-8902-1c94fe3fc04e" Alias="56091 W800" Level="2">
  <Info>
    <Parent Key="13ba025b-7575-4a3d-9395-1cb645cfb231">Training Programs</Parent>
    <Path>/TrainingPrograms/W800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-20T17:01:49</CreateDate>
    <NodeName Default="56091 W800" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pfpkdyba/56091_w800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>