<?xml version="1.0" encoding="utf-8"?>
<Media Key="59b0816c-43f2-4f54-b7c3-63436b160b14" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-02-13T18:20:35</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>