<?xml version="1.0" encoding="utf-8"?>
<Media Key="1946ac07-010c-4469-8920-fe3e886c09fe" Alias="Abstract Polygonal Shapes With Colorful Dots And Line Connection Illustration Vector" Level="2">
  <Info>
    <Parent Key="9cc0b54b-46d9-492f-b3f0-712ea3432c33">Background</Parent>
    <Path>/Background/AbstractPolygonalShapesWithColorfulDotsAndLineConnectionIllustrationVector</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-18T02:32:23</CreateDate>
    <NodeName Default="Abstract Polygonal Shapes With Colorful Dots And Line Connection Illustration Vector" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/agwemgim/abstract-polygonal-shapes-with-colorful-dots-and-line-connection-illustration-vector.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>