<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6f71df2-3d77-42f6-965e-9c04526b31f3" Alias="abstract connections meditaion" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/abstractConnectionsMeditaion</Path>
    <Trashed Parent="b2752309-0660-4e49-851b-9be874760ac0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-10T11:25:08</CreateDate>
    <NodeName Default="abstract connections meditaion" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4qoppjtx/file-6zhtmujodzo3y23zrkkmks_sized.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>