<?xml version="1.0" encoding="utf-8"?>
<Media Key="27ade29f-5964-4391-9ca2-5ffeb5fc9ad9" Alias="Activities" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Activities</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-16T23:43:31</CreateDate>
    <NodeName Default="Activities" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>