<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cc0b54b-46d9-492f-b3f0-712ea3432c33" Alias="Background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Background</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-18T02:32:04</CreateDate>
    <NodeName Default="Background" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>