<?xml version="1.0" encoding="utf-8"?>
<Media Key="41591e74-78b8-4ba0-bffc-93747cd169e6" Alias="BEHF Inside Trans" Level="2">
  <Info>
    <Parent Key="4dfeca54-2696-437e-ac39-ac11c87aa10c">Site Settings</Parent>
    <Path>/SiteSettings/BEHFInsideTrans</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-25T17:49:45</CreateDate>
    <NodeName Default="BEHF Inside Trans" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oipfsqny/behf_inside_trans.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>