<?xml version="1.0" encoding="utf-8"?>
<Media Key="207bdd2e-73f9-4d1b-8deb-dca08d02f7d6" Alias="BEHF_Vietnam_Logo_200x200" Level="2">
  <Info>
    <Parent Key="4dfeca54-2696-437e-ac39-ac11c87aa10c">Site Settings</Parent>
    <Path>/SiteSettings/BEHF_Vietnam_Logo_200x200</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-25T13:38:30</CreateDate>
    <NodeName Default="BEHF_Vietnam_Logo_200x200" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fdohwihz/behf_vietnam_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>