<?xml version="1.0" encoding="utf-8"?>
<Media Key="89cfaeff-a2e2-4116-b14b-702376e3f406" Alias="Chi Giang CEO Giang Kyo Fashion" Level="2">
  <Info>
    <Parent Key="80a6c3ba-a5e4-4e18-83a2-c82b5c6a4974">Testimonial</Parent>
    <Path>/Testimonial/ChiGiangCEOGiangKyoFashion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T17:36:48</CreateDate>
    <NodeName Default="Chi Giang CEO Giang Kyo Fashion" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5gxm5cpc/chi-giang-ceo-giang-kyo-fashion.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>