<?xml version="1.0" encoding="utf-8"?>
<Media Key="30346707-b363-4374-86a4-3472e6c66dc2" Alias="Chi Thuy Vice President Wlin Saigon Wlin Global" Level="2">
  <Info>
    <Parent Key="80a6c3ba-a5e4-4e18-83a2-c82b5c6a4974">Testimonial</Parent>
    <Path>/Testimonial/ChiThuyVicePresidentWlinSaigonWlinGlobal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T16:43:42</CreateDate>
    <NodeName Default="Chi Thuy Vice President Wlin Saigon Wlin Global" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aftdimdd/chi-thuy-vice-president-wlin-saigon-wlin-global.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>