<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a6cf235-bdfb-4fe9-8763-d4ebf9e4747c" Alias="Chi Nga Chairman Board ELITE ARTS VIETNAM" Level="2">
  <Info>
    <Parent Key="80a6c3ba-a5e4-4e18-83a2-c82b5c6a4974">Testimonial</Parent>
    <Path>/Testimonial/ChiNgaChairmanBoardELITEARTSVIETNAM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-10T16:28:06</CreateDate>
    <NodeName Default="Chi Nga Chairman Board ELITE ARTS VIETNAM" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gpzgywx1/chi-nga-chairman-board-elite-arts-vietnam.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>