<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac350093-0537-4db4-868b-1e832257f8dd" Alias="Circuit Network Abstract Shape In Diagonal Shinny Background 1800" Level="2">
  <Info>
    <Parent Key="9cc0b54b-46d9-492f-b3f0-712ea3432c33">Background</Parent>
    <Path>/Background/CircuitNetworkAbstractShapeInDiagonalShinnyBackground1800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-18T03:20:50</CreateDate>
    <NodeName Default="Circuit Network Abstract Shape In Diagonal Shinny Background 1800" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/suadllbx/circuit_network_abstract_shape_in_diagonal_shinny_background_1800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>