<?xml version="1.0" encoding="utf-8"?>
<Media Key="21ccdeb5-5241-4187-9b8e-17bc7c18ac45" Alias="Claude Transformation Triangle V3 Trans" Level="2">
  <Info>
    <Parent Key="2420c092-b419-4b2c-b29f-9ce3b36882f4">Vision-Mission-CoreValues</Parent>
    <Path>/VisionMissionCoreValues/ClaudeTransformationTriangleV3Trans</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-21T23:40:51</CreateDate>
    <NodeName Default="Claude Transformation Triangle V3 Trans" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wppmyikb/claude_transformation-triangle_v3_trans.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>