<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4698db0-d344-4fb3-924c-cf5ac0cf3045" Alias="Comprehensive Health &amp; Happiness" Level="2">
  <Info>
    <Parent Key="27ade29f-5964-4391-9ca2-5ffeb5fc9ad9">Activities</Parent>
    <Path>/Activities/ComprehensiveHealthHappiness</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-17T00:14:40</CreateDate>
    <NodeName Default="Comprehensive Health &amp; Happiness" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>