<?xml version="1.0" encoding="utf-8"?>
<Media Key="48d2cf0f-b6fe-42d2-b799-7fed0ccc0ad8" Alias="Few Together 3820417 1280" Level="2">
  <Info>
    <Parent Key="b2752309-0660-4e49-851b-9be874760ac0">Contact Us</Parent>
    <Path>/ContactUs/FewTogether38204171280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-10T11:55:58</CreateDate>
    <NodeName Default="Few Together 3820417 1280" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhhnesh4/few-together-3820417_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>