<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a76a1d5-0f22-4135-8b5e-f352649a7fb6" Alias="Girl Sitting Lotus Pose Rd8xye6h 720" Level="3">
  <Info>
    <Parent Key="16886251-814f-4c41-b212-f6c2f92dcc91">Meditation</Parent>
    <Path>/Articles/Meditation/GirlSittingLotusPoseRd8xye6h720</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-30T03:17:02</CreateDate>
    <NodeName Default="Girl Sitting Lotus Pose Rd8xye6h 720" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0oqhmgrc/girl-sitting-lotus-pose-rd8xye6h-720.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>