<?xml version="1.0" encoding="utf-8"?>
<Media Key="d40bcacb-9c47-4eaa-a376-6da3adf81f92" Alias="Hero Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-29T12:08:40</CreateDate>
    <NodeName Default="Hero Banners" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>