<?xml version="1.0" encoding="utf-8"?>
<Media Key="d863aa7f-96b1-4bb5-9a36-dbc0ea6b9608" Alias="Home Herobanner Background Default" Level="2">
  <Info>
    <Parent Key="d40bcacb-9c47-4eaa-a376-6da3adf81f92">Hero Banners</Parent>
    <Path>/HeroBanners/HomeHerobannerBackgroundDefault</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-25T17:50:13</CreateDate>
    <NodeName Default="Home Herobanner Background Default" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pgvghwfr/home_herobanner_background_default.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>