<?xml version="1.0" encoding="utf-8"?>
<Media Key="381b4b23-13ee-454c-8040-264a0150c73d" Alias="Home" Level="2">
  <Info>
    <Parent Key="d40bcacb-9c47-4eaa-a376-6da3adf81f92">Hero Banners</Parent>
    <Path>/HeroBanners/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-29T12:08:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>