<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f2232b8-817e-4bc3-9b0b-b8b138e30453" Alias="IMG 0287 W1800" Level="2">
  <Info>
    <Parent Key="59b0816c-43f2-4f54-b7c3-63436b160b14">About Us</Parent>
    <Path>/AboutUs/IMG0287W1800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-23T02:18:16</CreateDate>
    <NodeName Default="IMG 0287 W1800" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xyzcex14/img_0287_w1800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>