<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b39a329-fc73-41e0-b1d5-d35a0e302377" Alias="Master Pradeep Vijay Portrait" Level="3">
  <Info>
    <Parent Key="e319bf70-c3c6-4871-9f2e-edffad1f9cf7">Master Pradeep Vijay</Parent>
    <Path>/TeamMembers/MasterPradeepVijay/MasterPradeepVijayPortrait</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-15T02:24:26</CreateDate>
    <NodeName Default="Master Pradeep Vijay Portrait" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f4rdtc1t/master-pradeep-vijay_portrait.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>