<?xml version="1.0" encoding="utf-8"?>
<Media Key="e319bf70-c3c6-4871-9f2e-edffad1f9cf7" Alias="Master Pradeep Vijay" Level="2">
  <Info>
    <Parent Key="dd992dc1-bf9a-4fb7-b607-359d1bfb9d28">Team Members</Parent>
    <Path>/TeamMembers/MasterPradeepVijay</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-15T02:24:18</CreateDate>
    <NodeName Default="Master Pradeep Vijay" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>