<?xml version="1.0" encoding="utf-8"?>
<Media Key="16886251-814f-4c41-b212-f6c2f92dcc91" Alias="Meditation" Level="2">
  <Info>
    <Parent Key="f16d495b-c8ab-49fb-b127-5bdf1b1c5598">Articles</Parent>
    <Path>/Articles/Meditation</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-30T03:15:02</CreateDate>
    <NodeName Default="Meditation" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>