<?xml version="1.0" encoding="utf-8"?>
<Media Key="58f7420e-b3d3-4b0e-b748-73a475f563ce" Alias="Meditating Person With Colorful Thoughts 500" Level="2">
  <Info>
    <Parent Key="2420c092-b419-4b2c-b29f-9ce3b36882f4">Vision-Mission-CoreValues</Parent>
    <Path>/VisionMissionCoreValues/MeditatingPersonWithColorfulThoughts500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T16:42:43</CreateDate>
    <NodeName Default="Meditating Person With Colorful Thoughts 500" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bbbpowgt/meditating-person-with-colorful-thoughts_500.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>