<?xml version="1.0" encoding="utf-8"?>
<Media Key="00e3a0f8-36b1-46c4-aef2-35b65fc2e08b" Alias="Ms Zainab Designer" Level="2">
  <Info>
    <Parent Key="80a6c3ba-a5e4-4e18-83a2-c82b5c6a4974">Testimonial</Parent>
    <Path>/Testimonial/MsZainabDesigner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-11T11:29:19</CreateDate>
    <NodeName Default="Ms Zainab Designer" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/50qogafr/ms-zainab-designer.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>