<?xml version="1.0" encoding="utf-8"?>
<Media Key="b543e284-de7c-4cdc-b9d6-e91bdf34fc03" Alias="Portrait Relax Meditates Gesture Eyes Closed Stuck With Papers W800" Level="2">
  <Info>
    <Parent Key="13ba025b-7575-4a3d-9395-1cb645cfb231">Training Programs</Parent>
    <Path>/TrainingPrograms/PortraitRelaxMeditatesGestureEyesClosedStuckWithPapersW800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-22T17:42:06</CreateDate>
    <NodeName Default="Portrait Relax Meditates Gesture Eyes Closed Stuck With Papers W800" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qlrehnl2/portrait-relax-meditates-gesture-eyes-closed-stuck-with-papers_w800.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>