<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8a15aa5-0ac8-466f-8acb-f5e3680ef7ba" Alias="Session1 20250110" Level="3">
  <Info>
    <Parent Key="c4698db0-d344-4fb3-924c-cf5ac0cf3045">Comprehensive Health &amp; Happiness</Parent>
    <Path>/Activities/ComprehensiveHealthHappiness/Session120250110</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-17T02:11:04</CreateDate>
    <NodeName Default="Session1 20250110" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/unnkdogi/session1_20250110.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>