<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f2d0026-62dc-46b8-8a49-ba2eab2d33ea" Alias="Shiny Stones Of Mindfulness O7zmzcnpfkmedbj1" Level="3">
  <Info>
    <Parent Key="381b4b23-13ee-454c-8040-264a0150c73d">Home</Parent>
    <Path>/HeroBanners/Home/ShinyStonesOfMindfulnessO7zmzcnpfkmedbj1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-29T12:15:39</CreateDate>
    <NodeName Default="Shiny Stones Of Mindfulness O7zmzcnpfkmedbj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eaac0542/shiny-stones-of-mindfulness-o7zmzcnpfkmedbj1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>