<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dfeca54-2696-437e-ac39-ac11c87aa10c" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-25T13:36:46</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>