<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd992dc1-bf9a-4fb7-b607-359d1bfb9d28" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-15T02:24:11</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>