<?xml version="1.0" encoding="utf-8"?>
<Media Key="13ba025b-7575-4a3d-9395-1cb645cfb231" Alias="Training Programs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrainingPrograms</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-20T16:45:54</CreateDate>
    <NodeName Default="Training Programs" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>