<?xml version="1.0" encoding="utf-8"?>
<Media Key="2420c092-b419-4b2c-b29f-9ce3b36882f4" Alias="Vision-Mission-CoreValues" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VisionMissionCoreValues</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-30T04:33:41</CreateDate>
    <NodeName Default="Vision-Mission-CoreValues" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>