<?xml version="1.0" encoding="utf-8"?>
<Media Key="b61fdd31-1d81-4a89-95a2-5e8a445437c1" Alias="Webpeditor Connection Between People Nature And Animals" Level="2">
  <Info>
    <Parent Key="d40bcacb-9c47-4eaa-a376-6da3adf81f92">Hero Banners</Parent>
    <Path>/HeroBanners/WebpeditorConnectionBetweenPeopleNatureAndAnimals</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-29T13:18:45</CreateDate>
    <NodeName Default="Webpeditor Connection Between People Nature And Animals" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g5ob5nub/webpeditor_connection_between_people_nature_and_animals.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>