<?xml version="1.0" encoding="utf-8"?>
<Media Key="efd4be07-e5ec-41f3-8052-69ffd2ab372a" Alias="Wellbeing Help Social Support And Protection Of Business Team" Level="2">
  <Info>
    <Parent Key="2420c092-b419-4b2c-b29f-9ce3b36882f4">Vision-Mission-CoreValues</Parent>
    <Path>/VisionMissionCoreValues/WellbeingHelpSocialSupportAndProtectionOfBusinessTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-30T04:37:06</CreateDate>
    <NodeName Default="Wellbeing Help Social Support And Protection Of Business Team" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ag5nj15m/wellbeing-help-social-support-and-protection-of-business-team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>